@use '../abstracts' as *;

.columns {
  display: grid;
  list-style: none;
  gap: clamp(pxtorem(20), 2vw, pxtorem(32));

  @include mq(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq(large) {
    grid-template-columns: repeat(3, 1fr);
  }
}
