@use "../abstracts" as *;

.flex-group {
  display: flex;
  flex-direction: column;
  gap: clamp(pxToRem(20), 4vw, pxToRem(32));

  @include mq(medium) {
    flex-direction: row;
  }

  &[data-direction="column"] {
    flex-direction: column;
  }

  &:not([data-direction="column"]) {
    align-items: center;
  }

  &[data-align="end"] {
    align-items: center;

    @include mq(medium) {
      align-items: flex-end;
    }
  }

  &[data-align="start"] {
    align-items: center;

    @include mq(medium) {
      align-items: flex-start;
    }
  }

  &[data-justify="between"] {
    justify-content: space-between;
  }
}
