@use '../abstracts' as *;

@keyframes fade-from-bottom {
  from {
    opacity: 0;
    transform: translate3d(0, pxtorem(20), 0);
    scale: 0.95;
  }
}

@keyframes fade-from-top {
  from {
    opacity: 0;
    transform: translate3d(0, -#{pxtorem(20)}, 0);
    scale: 0.95;
  }
}

@keyframes fade-from-left {
  from {
    opacity: 0;
    transform: translate3d(-#{pxtorem(20)}, 0, 0);
  }
}

@keyframes fade-from-right {
  from {
    opacity: 0;
    transform: translate3d(#{pxtorem(20)}, 0, 0);
  }
}

@keyframes zoom-in {
  from {
    opacity: 0;
    transform: scale(0.25);
  }
}

.fade-from-bottom {
  @media (prefers-reduced-motion: no-preference) {
    view-timeline-name: --fade-from-bottom;
    animation: fade-from-bottom both;
    animation-timeline: --fade-from-bottom;
    animation-range: 5% 30%;
  }
}

.fade-from-top {
  @media (prefers-reduced-motion: no-preference) {
    view-timeline-name: --fade-from-top;
    animation: fade-from-top both;
    animation-timeline: --fade-from-top;
    animation-range: 5% 30%;
  }
}

.fade-from-left {
  @media (prefers-reduced-motion: no-preference) {
    view-timeline-name: --fade-from-left;
    animation: fade-from-left both;
    animation-timeline: --fade-from-left;
    animation-range: 5% 30%;
  }
}

.fade-from-right {
  @media (prefers-reduced-motion: no-preference) {
    view-timeline-name: --fade-from-right;
    animation: fade-from-right both;
    animation-timeline: --fade-from-right;
    animation-range: 5% 30%;
  }
}

.zoom-in {
  @media (prefers-reduced-motion: no-preference) {
    view-timeline-name: --zoom-in;
    animation: zoom-in both;
    animation-timeline: --zoom-in;
    animation-range: 5% 30%;
  }
}
