@use 'sass:map';
@use 'sass:math';
@use '../abstracts/' as *;

.wrapper {
  --padding: #{pxtorem(20)};

  width: min(pxtorem(1440), 100% - (var(--padding) * 2));
  margin-inline: auto;

  @include mq(medium) {
    --padding: #{pxtorem(40)};
  }

  @include mq(large) {
    --padding: #{pxtorem(80)};
  }

  &.fluid-row {
    @include mq(medium) {
      display: flex;
      align-items: center;
      gap: clamp(pxtorem(20), 4vw, pxtorem(40));
    }
  }
}
