@use "sass:map";
@use "sass:math";
@use "../abstracts/" as *;

.wrapper {
  --padding: 1rem;

  width: min(pxtorem(1440), 100% - (var(--padding) * 2));
  margin-inline: auto;

  @include mq(medium) {
    --padding: 2rem;
  }

  @include mq(large) {
    --padding: 3rem;
  }
}
