@use "../abstracts" as *;

.about {
  background-image: linear-gradient(
    to bottom,
    rgb(43 104 154 / 100%),
    $color-brand-dark
  );
  color: $color-light;
  padding: clamp(pxtorem(28), 4vw, pxtorem(100)) 0
    clamp(pxtorem(32), 4vw, pxtorem(80));
  border-radius: clamp(pxtorem(28), 4vw, pxtorem(40));

  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: clamp(pxtorem(30), 5vw, pxtorem(100));

    @include mq(medium) {
      flex-direction: row;
    }
  }

  .heading {
    font-size: clamp(pxtorem(30), 4vw, pxtorem(38));
    line-height: clamp(pxtorem(36), 5vw, pxtorem(44));
    font-weight: $font-weight-bold;
    letter-spacing: -0.04em;
  }

  .subheading {
    font-size: clamp(pxtorem(26), 4vw, pxtorem(28));
    line-height: clamp(pxtorem(30), 5vw, pxtorem(32));
    font-weight: $font-weight-regular;
    letter-spacing: -0.03em;
  }

  .content {
    display: grid;
    gap: clamp(pxtorem(28), 4vw, pxtorem(32));
  }

  .block {
    display: grid;
    gap: clamp(pxtorem(10), 2vw, pxtorem(12));
  }

  .block-heading {
    font-size: clamp(pxtorem(22), 3vw, pxtorem(28));
    line-height: clamp(pxtorem(22), 3vw, pxtorem(28));
    font-weight: $font-weight-bold;
    letter-spacing: -0.02em;
  }

  p:not(.subheading) {
    font-size: pxtorem(16);
    line-height: pxtorem(26);
  }

  .portrait {
    margin: 0 auto;
    flex-shrink: 0;
    margin-top: -1rem;
  }
}
