@use "../abstracts" as *;

.site-article {
  padding-block: clamp(pxtorem(40), 4vw, pxtorem(80));

  br {
    display: none;

    @include mq(medium) {
      display: block;
    }
  }

  .heading {
    font-size: clamp(pxtorem(30), 4vw, pxtorem(38));
    line-height: clamp(pxtorem(36), 5vw, pxtorem(44));
    font-weight: $font-weight-bold;
    letter-spacing: -0.04em;
  }

  h2 {
    font-size: clamp(pxtorem(22), 3vw, pxtorem(28));
    line-height: clamp(pxtorem(28), 3.5vw, pxtorem(32));
    letter-spacing: -0.03rem;
    font-weight: $font-weight-bold;
    color: $color-brand-light;
  }

  h3 {
    font-size: clamp(pxtorem(20), 3vw, pxtorem(24));
    line-height: clamp(pxtorem(24), 4vw, pxtorem(28));
    letter-spacing: -0.02em;
    font-weight: $font-weight-bold;
    margin-block-end: pxtorem(8);
  }

  section {
    display: grid;
    gap: clamp(pxtorem(12), 1vw, pxtorem(24));
  }

  ul {
    padding-inline-start: pxtorem(20);
    display: grid;
    gap: clamp(pxtorem(6), 4vw, pxtorem(10));
  }

  a {
    color: $color-brand-light;
    text-decoration: none;

    &:hover {
      color: $color-brand-dark;
      text-decoration: none;
    }
  }
}
