@use "../abstracts" as *;

.benefits {
  .benefit {
    h3 {
      font-size: clamp(pxToRem(22), 3vw, pxToRem(28));
      line-height: clamp(pxToRem(28), 3.5vw, pxToRem(32));
      letter-spacing: -0.03rem;
      font-weight: $font-weight-bold;
      color: $color-brand-light;
      margin-block-end: pxToRem(12);
    }

    p {
      font-size: pxToRem(16);
      line-height: pxToRem(26);
    }
  }
}
