@use "../abstracts" as *;

.benefits {
  .benefit {
    h3 {
      font-size: clamp(pxtorem(22), 3vw, pxtorem(28));
      line-height: clamp(pxtorem(28), 3.5vw, pxtorem(32));
      letter-spacing: -0.03rem;
      font-weight: $font-weight-bold;
      color: $color-brand-light;
      margin-block-end: pxtorem(12);
    }

    p {
      font-size: pxtorem(16);
      line-height: pxtorem(26);
    }
  }
}
