/* stylelint-disable at-rule-no-unknown */
.blog {
  --spacing-y: clamp(30px, 6vw, 60px);

  margin-block: var(--spacing-y);

  a {
    color: var(--clr-dark);
    transition: color var(--trans-duration-short) var(--trans-ease-out);

    @mixin hover {
      color: var(--clr-primary);
    }
  }
}

.post {
  figure {
    overflow: hidden;
    border-radius: var(--border-radius);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .published-on {
    font-size: 14px;
    line-height: 18px;
    color: var(--clr-gray-dark);
    margin-block-end: 4px;
  }

  .content {
    header {
      margin-block-end: clamp(12px, 4vw, 16px);
    }
  }

  &:not(.full) {
    .content {
      padding: clamp(20px, 4vw, 28px);
    }
  }

  &.featured {
    display: flex;
    flex-direction: row;
    gap: 0;

    @mixin mobile {
      flex-direction: column;
    }

    figure {
      flex-shrink: 0;
      width: 100%;
      aspect-ratio: 16/9;

      @mixin mobile {
        width: 100%;
        aspect-ratio: 16/9;
      }

      @mixin tablet-up {
        aspect-ratio: 1/1;
        max-width: 300px;
      }
    }
  }

  &.preview {
    gap: 0;

    figure {
      width: 100%;
      aspect-ratio: 16/9;
    }

    header {
      h2 {
        font-size: clamp(24px, 4vw, 28px);
        line-height: clamp(24px, 4vw, 32px);
        text-wrap: pretty;
        font-weight: var(--fnt-weight-semibold);
      }
    }

    p {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }

  &.latest {
    figure {
      width: 75px;
      height: 75px;
      flex-shrink: 0;
      border-radius: 50%;
    }
  }

  &.full {
    .hero {
      height: clamp(200px, 30vw, 700px);

      @mixin mobile {
        display: none;
        visibility: hidden;
      }
    }

    .hero-image {
      --border-radius: clamp(28px, 4vw, 40px);

      height: clamp(200px, 30vw, 700px);
      margin-inline: auto;
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }

    .content {
      &:has(& + .content) {
        padding-block: clamp(20px, 4vw, 80px);
      }

      &:not(:has(& + .content)) {
        padding-block: clamp(20px, 4vw, 40px) 20px;
      }

      @mixin tablet-up {
        width: 80dvw;
        max-width: 800px;
        margin-inline: auto;
      }

      @mixin desktop-up {
        width: 60dvw;
      }

      header {
        margin-block-end: clamp(16px, 4vw, 40px);

        .heading1 {
          font-size: clamp(40px, 4vw, 54px);
          line-height: clamp(50px, 5vw, 62px);
        }
      }

      h2 {
        font-size: clamp(28px, 4vw, 32px);
        line-height: clamp(30px, 4vw, 38px);
        margin-block: clamp(24px, 4vw, 32px) clamp(10px, 4vw, 14px);
      }

      h3 {
        margin-block: clamp(16px, 4vw, 24px) clamp(12px, 4vw, 16px);
      }

      strong {
        color: var(--clr-dark);
      }

      ul {
        list-style: disc;
      }

      ol {
        list-style: decimal;
      }

      ul,
      ol {
        padding-inline-start: 1rem;

        li {
          padding-inline-start: 0.5rem;

          @mixin mobile {
            text-wrap: pretty;
          }

          margin-block-end: 12px;

          @mixin mobile {
            margin-block-end: 8px;
          }
        }

        strong {
          @mixin mobile {
            display: block;
          }
        }
      }

      p:not(:last-child),
      ul:not(:last-child),
      ol:not(:last-child),
      pre:not(:last-child) {
        margin-block-end: 12px;
      }

      a {
        color: var(--clr-primary);
        transition: color var(--trans-duration-short) var(--trans-ease-out);

        @mixin hover {
          color: var(--clr-primary-dark);
        }
      }
    }
  }
}
