@use "../abstracts" as *;

.bulletpoints {
  display: grid;
  gap: clamp(pxtorem(16), 2vw, pxtorem(20));
  list-style: none;

  @include mq(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  li {
    padding-left: clamp(pxtorem(40), 4vw, pxtorem(46));
    background-image: url("/images/icons/checkmark.svg");
    background-repeat: no-repeat;

    strong {
      display: inline-block;
      font-size: clamp(pxtorem(20), 3vw, pxtorem(28));
      line-height: clamp(pxtorem(28), 3.5vw, pxtorem(32));
      letter-spacing: -0.03rem;
      font-weight: $font-weight-bold;
    }

    span {
      display: block;
      font-size: pxtorem(16);
      line-height: pxtorem(26);
    }
  }
}
