@use "../abstracts" as *;

.button {
  --shine-color: #{$color-shine-low};
  --shadow-shine-top: inset 0 1px 0 0 var(--shine-color);
  --shadow-shine-bottom: inset 0 -1px 0 0 var(--shine-color);
  --transition-duration: 200ms;
  --shadow-dark: #{$shadow-button-sm};
  --offset-y: 0;
  --bg-offset: 0;

  background-color: $color-yellow;
  background-image: linear-gradient(to bottom, $color-yellow, $color-orange);
  background-repeat: repeat-x;
  background-position: 0 var(--bg-offset);
  box-shadow: var(--shadow-shine-top), var(--shadow-shine-bottom),
    var(--shadow-dark);
  font-size: pxtorem(18);
  line-height: pxtorem(18);
  font-weight: 700;
  padding: pxtorem(16) pxtorem(28);
  border-radius: 999px;
  width: 100%;
  color: $color-dark;
  transform: translateY(var(--offset-y));
  transition:
    background-position var(--transition-duration) ease-out,
    transform var(--transition-duration) ease-out,
    box-shadow var(--transition-duration) ease-out;

  @include mq(medium) {
    width: auto;
  }

  &:hover {
    --shine-color: #{$color-shine};
    --shadow-dark: #{$shadow-button-sm-hover};
    --offset-y: -2px;
    --bg-offset: 10px;
  }

  &:active {
    --transition-duration: 75ms;
    --offset-y: 0;
    --shine-color: #{$color-shine-lower};
    --shadow-dark: #{$shadow-button-active};
    --bg-offset: 0px;
  }

  &[data-size="large"] {
    --shadow-dark: #{$shadow-button-lg};

    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 1.125rem 2.25rem;
    letter-spacing: -0.02em;

    &:hover {
      --shadow-dark: #{$shadow-button-lg-hover};
    }

    &:active {
      --shadow-dark: #{$shadow-button-active};
    }
  }
}
