@use 'sass:color';
@use '../abstracts' as *;

.button {
  --button-color: #{$color-primary};
  --button-text-color: #{$color-light};
  --button-text-color-contrast: #{$color-dark};
  --button-shadow-color: #{rgba($color-primary, 0.3)};

  padding-inline: pxtorem(28);
  padding-block: pxtorem(16);
  font-weight: $font-weight-medium;
  color: var(--button-text-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: pxtorem(8);
  gap: pxtorem(10);
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  transform: translate3d(0, 0, 0);

  @include transition-medium(box-shadow transform);

  &:not(&.outlined) {
    box-shadow: 0 0 0 var(--button-shadow-color);

    &:hover,
    &:focus-visible {
      box-shadow: 0 #{pxtorem(13)} #{pxtorem(49)} var(--button-shadow-color);
      transform: translate3d(0, -#{pxtorem(4)}, 0);
    }
  }

  &.secondary {
    --button-color: #{$color-secondary};
    --button-text-color: #{$color-dark};
    --button-shadow-color: #{rgba($color-secondary, 0.5)};
  }

  &.outlined {
    background-color: transparent;
    color: var(--button-color);

    @include transition-medium(background-color color);

    &:hover,
    &:focus-visible {
      background-color: var(--button-color);

      &.secondary {
        color: var(--button-text-color-contrast);
      }

      &:not(&.secondary) {
        color: $color-light;
      }
    }
  }
}
