@use "../abstracts" as *;

.cards {
  display: grid;
  gap: clamp(pxtorem(20), 6vw, pxtorem(32));

  @include mq(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq(large) {
    grid-template-columns: repeat(4, 1fr);
  }

  .card {
    & > * {
      display: block;

      &:not(:last-child) {
        margin-block-end: clamp(pxtorem(6), 1vw, pxtorem(12));
      }
    }

    background-color: $color-light;
    border-radius: clamp(pxtorem(12), 2vw, pxtorem(20));
    padding: clamp(pxtorem(20), 4vw, pxtorem(30));
    text-align: center;

    .number {
      font-size: clamp(pxtorem(38), 4vw, pxtorem(48));
      line-height: clamp(pxtorem(38), 4vw, pxtorem(48));
      font-weight: $font-weight-bold;
      color: $color-brand-dark;
      letter-spacing: -0.06em;
    }

    figcaption {
      font-size: clamp(pxtorem(16), 4vw, pxtorem(22));
      line-height: clamp(pxtorem(16), 4vw, pxtorem(22));
      font-weight: $font-weight-bold;
      letter-spacing: -0.03em;
    }
  }
}
