/* stylelint-disable at-rule-no-unknown */
.final-engagement {
  background-color: var(--clr-primary-dark);
  color: var(--clr-light);
  border-radius: clamp(28px, 4vw, 40px);
  padding: clamp(30px, 4vw, 60px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(12px, 4vw, 30px);

  @mixin mobile {
    h2 {
      text-wrap: pretty;
    }
  }

  @mixin desktop-up {
    background-image: url('/images/structure.svg'), url('/images/structure.svg'), url('/images/structure.svg'),
      url('/images/structure.svg');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size:
      240px 150px,
      240px 150px,
      240px 150px,
      240px 150px;
    background-position:
      top 16px left 16px,
      top 16px right 16px,
      bottom 16px left 16px,
      bottom 16px right 16px;
    padding: clamp(80px, 4vw, 100px) clamp(260px, 4vw, 420px);
  }
}
