@use '../abstracts' as *;

.site-footer {
  container-name: footer;
  background-color: $color-dark;
  color: $color-gray-light;
  padding-block: pxtorem(67) pxtorem(20);

  .main-content {
    margin-block-end: pxtorem(50);
  }

  .logo {
    grid-column: 1 / -1;

    @include mq(small) {
      grid-column: 1;
    }
  }

  .contact-info {
    font-size: pxtorem(14);
    line-height: pxtorem(20);
  }

  nav > a {
    display: block;
    color: $color-gray-light;
    text-decoration: none;
  }

  .nav-link {
    &:not(.active) {
      color: $color-gray-light;

      @include transition-medium(color);

      &:hover,
      &:focus-visible {
        color: $color-yellow;
      }
    }

    &.active {
      color: $color-brand-light;
    }
  }

  nav > a:not(:last-of-type) {
    margin-block-end: pxtorem(8);
  }

  address {
    p {
      @include mq(small) {
        display: grid;
        grid-template-columns: pxtorem(14) 1fr;
        align-items: flex-start;
        gap: pxtorem(12);
      }

      &:not(:last-of-type) {
        margin-block-end: pxtorem(8);
      }

      > span:first-child {
        display: none;

        @include mq(small) {
          display: grid;
          place-items: center;
          margin-block-start: pxtorem(5);
        }
      }
    }
  }

  .copyright {
    padding-block-start: pxtorem(18);
    font-size: pxtorem(12);
    color: $color-gray-light;
    text-align: center;
    border-top: 1px solid #{rgba($color-gray-light, 0.15)};
  }

  .separator {
    margin-inline: pxtorem(4);
  }
}
