@use "../abstracts/" as *;

.site-header {
  position: fixed;
  top: 0;
  background-color: $color-light;
  box-shadow: $shadow-header;
  padding-block: pxToRem(20);
  z-index: 10;
  width: 100%;

  .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include mq(medium) {
      gap: pxToRem(20);
      align-items: center;
      flex-direction: row;
    }
  }

  .nav-toggle {
    display: block;
    position: absolute;
    background-color: transparent;
    background-image: url("/images/icons/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: pxToRem(36);
    height: pxToRem(36);
    right: 0;
    top: 0;
    aspect-ratio: 1 / 1;

    &[aria-expanded="true"] {
      background-image: url("/images/icons/close.svg");
    }

    @include mq(medium) {
      display: none;
    }
  }

  .site-navigation {
    --_height: 0;
    overflow: hidden;
    transition: height 300ms ease-in-out;
    height: var(--_height);

    @include mq(medium) {
      height: auto;
      transition: none;
      overflow: auto;
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: clamp(pxToRem(8), 4vw, pxToRem(52));
      padding-top: pxToRem(20);

      @include mq(medium) {
        flex-direction: row;
        padding-top: 0;
      }
    }

    a {
      display: block;
      color: $color-dark;
      transition: color 200ms ease-in-out;
      text-align: center;

      @include mq(medium) {
        text-align: left;
      }

      &:not(.active):hover {
        color: $color-brand-light;
      }

      &.active {
        color: $color-brand-light;
      }
    }
  }
}

@keyframes collapseIn {
  from {
    height: 0;
  }

  to {
    height: auto;
  }
}

@keyframes collapseOut {
  from {
    height: auto;
  }

  to {
    height: 0;
  }
}
