@use "../abstracts/" as *;

.site-header {
  position: fixed;
  top: 0;
  background-color: $color-light;
  box-shadow: $shadow-header;
  padding-block: pxToRem(20);
  z-index: 10;
  width: 100%;

  .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include mq(medium) {
      gap: pxToRem(20);
      align-items: center;
      flex-direction: row;
    }
  }
}
