@use "../abstracts/" as *;

.site-header {
  position: sticky;
  top: 0;
  background-color: $color-light;
  box-shadow: $shadow-header;
  padding-block: pxToRem(20);
  z-index: 10;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    display: none;

    @include mq(medium) {
      display: block;
    }

    ul {
      display: flex;
      list-style: none;
      gap: pxToRem(52);
    }
  }
}
