@use '../abstracts/' as *;

@keyframes hero-heading-in {
  from {
    translate: 0 -#{pxtorem(20)};
    opacity: 0;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes hero-buttons-in {
  from {
    translate: 0 #{pxtorem(20)};
    opacity: 0;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}

.hero {
  position: relative;
  width: 100dvw;

  @include mq(small) {
    &:not(&.fluid-height) {
      max-height: pxtorem(900);
    }
  }

  @include mq(large) {
    &:not(&.fluid-height) {
      max-height: pxtorem(1080);
    }
  }

  &.blue-structured {
    background-color: $color-primary-dark;
    background-image: url('/images/boxy-structure.svg');
    background-position: bottom right;
  }

  &.gradient-down {
    background-image: linear-gradient(to bottom, $color-primary-light, $color-light);
  }

  &.blue {
    background-color: $color-primary-dark;
  }

  &.light-blue {
    background-color: $color-primary-light;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    background-image: var(--image-url);
    background-repeat: no-repeat;
    background-size: cover;

    @include mq(mobile) {
      height: 40%;
      width: 100dvw;
    }

    @include mq(small) {
      width: 50%;
      height: 100%;
    }
  }

  @include mq(small) {
    &.image-right {
      &::after {
        right: 0;
        background-position: left center;
      }

      .content {
        padding-inline-end: clamp(55%, 4vw, 65%);
      }
    }

    &.image-left {
      &::after {
        left: 0;
        background-position: right center;
      }

      .content {
        padding-inline-start: clamp(55%, 4vw, 65%);
      }
    }
  }

  .wrapper {
    padding-block-start: #{$site-header-height + $site-header-inset};
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(pxtorem(28), 4vw, pxtorem(40));
    padding-block: clamp(pxtorem(80), 4vw, pxtorem(150)) clamp(pxtorem(120), 4vw, pxtorem(180));
  }

  &.fluid-height {
    .content {
      gap: clamp(pxtorem(20), 4vw, pxtorem(30));
    }
  }

  h1 {
    animation: hero-heading-in $transition-duration-longer $transition-ease-out forwards;
  }

  .buttons {
    display: inline-flex;
    flex-direction: column;
    gap: pxtorem(20);
  }

  .button {
    animation: hero-buttons-in $transition-duration-longer $transition-ease-out forwards;
  }
}
