.icon {
  display: block;
  width: var(--width, 24px);
  height: var(--height, 24px);
  mask-image: var(--icon);
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: currentcolor;
}
