/* stylelint-disable at-rule-no-unknown */
@keyframes modal-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modal-background-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes modal-background-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.modal {
  border: none;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  animation: modal-in var(--trans-duration-short) var(--trans-ease-out) forwards;
  outline: none;
  text-shadow: none;
  padding: clamp(20px, 4vw, 40px);
  padding-block-end: clamp(6px, 4vw, 10px);
  border-radius: var(--border-radius);
  width: min(calc(100% - 40px), 500px);
  box-shadow: var(--shadow-modal);

  &::backdrop {
    animation: modal-background-in var(--trans-duration-short) var(--trans-ease-out) forwards;
  }

  .modal-close {
    position: absolute;
    z-index: 10;
    top: clamp(6px, 4vw, 20px);
    right: clamp(6px, 4vw, 20px);
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    opacity: 0.75;
    transition: opacity var(--trans-duration-short) var(--trans-ease-out);

    @mixin hover {
      opacity: 1;
    }
  }

  &.out {
    animation: modal-out var(--trans-duration-short) var(--trans-ease-out) forwards;

    &::backdrop {
      animation: modal-background-out var(--trans-duration-short) var(--trans-ease-out) forwards;
    }
  }
}
