@use "../abstracts" as *;

.section {
  display: grid;
  gap: clamp(pxToRem(32), 4vw, pxToRem(66));
}

.section-tag {
  display: flex;
  align-items: center;
  gap: pxToRem(12);
  font-size: pxToRem(20);
  line-height: pxToRem(20);
  font-weight: $font-weight-bold;
  letter-spacing: -0.01em;
  color: $color-brand-light;
}
