/* stylelint-disable at-rule-no-unknown */
.site-header {
  --padding: 24px;

  padding-block: var(--padding);
  position: sticky;
  inset: 0;
  z-index: 10;
  background-color: var(--clr-light);
  box-shadow: var(--shadow-header);
  transition: padding var(--trans-duration-short) var(--trans-ease-out);

  &.scrolled {
    --padding: 12px;
  }

  @mixin mobile {
    &,
    &.scrolled {
      --padding: 20px;
    }
  }
}
