@use '../abstracts' as *;

.solutions {
  .solution {
    background-color: $color-light;
    border-radius: clamp(pxtorem(12), 2vw, pxtorem(20));
    display: flex;
    flex-direction: column;
    gap: clamp(pxtorem(18), 2vw, pxtorem(24));
    padding: clamp(pxtorem(18), 2vw, pxtorem(24));
    position: relative;
    z-index: 1;
    box-shadow: 0 0 0 rgb(0 0 0 / 0%);
    transition: box-shadow 200ms ease-in-out;

    .icon {
      aspect-ratio: 1 / 1;
      position: relative;
      display: grid;
      place-content: center;
      width: clamp(pxtorem(46), 5vw, pxtorem(60));
      height: clamp(pxtorem(46), 5vw, pxtorem(60));
      border-radius: 100%;
      background-color: $color-light;
      box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
      overflow: hidden;

      &::before {
        aspect-ratio: 1 / 1;
        content: '';
        position: absolute;
        inset: 0;
        background-image: linear-gradient(to bottom, $color-yellow, $color-orange);
        z-index: 1;
        opacity: 0;
        transition: opacity 200ms ease-out;
      }

      .mask {
        position: absolute;
        inset: 0;
        z-index: 2;
        height: 100%;
        width: 100%;
        mask-image: var(--icon);
        mask-position: center;
        mask-repeat: no-repeat;
        transition: background-color 300ms ease-out;
        background-color: $color-brand-light;
      }
    }

    .solution-content {
      flex-grow: 1;
    }

    .solution-heading {
      font-size: clamp(pxtorem(20), 3vw, pxtorem(24));
      line-height: clamp(pxtorem(24), 4vw, pxtorem(28));
      letter-spacing: -0.02em;
      font-weight: $font-weight-bold;
      margin-block-end: pxtorem(8);
    }

    .solution-description {
      font-size: pxtorem(14);
      line-height: pxtorem(22);
    }

    .link {
      display: inline-block;
      background-color: $color-brand-light;
      border-radius: 30px;
      transition: background-color 200ms ease-out;
      font-size: pxtorem(14);
      line-height: pxtorem(14);
      padding: pxtorem(8) pxtorem(16);
      font-weight: $font-weight-medium;

      &,
      &:hover {
        color: $color-light;
      }

      &:hover {
        background-color: $color-brand-dark;
      }
    }

    &:hover {
      z-index: 2;
      box-shadow: 0 0 pxtorem(70) rgb(0 0 0 / 20%);

      .icon {
        &::before {
          opacity: 1;
        }

        .mask {
          background-color: $color-light;
        }
      }
    }
  }
}
