@use "../abstracts" as *;

.technologies {
  .list {
    @include mq(medium) {
      display: grid;
      gap: clamp(pxtorem(20), 4vw, pxtorem(31));
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    .canvas {
      display: grid;
      gap: clamp(pxtorem(18), 2vw, pxtorem(24));

      @include mq(medium) {
        display: block;
        position: relative;
        aspect-ratio: 625 / 352;
        grid-column: 1 / 4;
        grid-row: 1 / 3;
        background-image: url("/images/technologies.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: pxtorem(20);
      }

      .technology-article {
        border-radius: clamp(pxtorem(12), 2vw, pxtorem(20));
        background-color: $color-light;
        padding: clamp(pxtorem(18), 2vw, pxtorem(30));

        @include mq(medium) {
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          inset: 0;
          min-width: 0;
          box-shadow: 0 0 clamp(pxtorem(30), 4vw, pxtorem(70)) rgb(0 0 0 / 20%);
          z-index: 2;

          &.active {
            opacity: 1;
          }
        }
      }

      .heading {
        font-size: clamp(pxtorem(20), 4vw, pxtorem(38));
        line-height: clamp(pxtorem(36), 5vw, pxtorem(44));
        font-weight: $font-weight-bold;
        letter-spacing: -0.04em;
        margin-bottom: clamp(pxtorem(8), 2vw, pxtorem(12));
      }

      p {
        font-size: clamp(pxtorem(14), 3vw, pxtorem(16));
      }
    }

    .technology-link {
      display: none;
      visibility: hidden;
      background-color: $color-light;
      border-radius: pxtorem(20);
      box-shadow: 0 pxtorem(4) pxtorem(10) rgb(0 0 0 / 10%);
      overflow: hidden;
      z-index: 1;
      position: relative;
      transition: box-shadow 200ms ease-in-out;

      @include mq(medium) {
        display: block;
        visibility: visible;
      }

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: linear-gradient(
          to bottom,
          $color-brand-light,
          $color-brand-dark
        );
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: opacity 200ms ease-out;
      }

      .icon {
        aspect-ratio: 1 / 1;
        position: absolute;
        display: grid;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        place-content: center;
        width: 120px;
        height: 120px;

        .mask {
          position: absolute;
          inset: 0;
          z-index: 2;
          height: 100%;
          width: 100%;
          mask-image: var(--icon);
          mask-position: center;
          mask-repeat: no-repeat;
          transition:
            background-color 200ms ease-out,
            scale 200ms ease-out;
          transform-origin: top center;
          background-color: $color-gray-dark;
        }
      }

      .title {
        position: absolute;
        text-align: center;
        font-size: clamp(pxtorem(18), 2vw, pxtorem(24));
        line-height: clamp(pxtorem(18), 2vw, pxtorem(24));
        font-weight: $font-weight-bold;
        color: $color-gray-dark;
        top: 77.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition:
          color 200ms ease-out,
          translate 300ms ease-out;
        translate: 0 225%;
        z-index: 2;
      }

      &:hover {
        z-index: 2;
        box-shadow: 0 0 pxtorem(70) rgb(0 0 0 / 20%);

        .icon {
          .mask {
            scale: 0.75 0.75;
          }
        }

        .title {
          translate: 0 0;
        }
      }

      &:focus {
        z-index: 2;
        box-shadow: 0 0 pxtorem(70) rgb(0 0 0 / 20%);

        &::before {
          opacity: 1;
        }

        .icon {
          .mask {
            scale: 0.75 0.75;
            background-color: $color-light;
          }
        }

        .title {
          color: $color-light;
          translate: 0 0;
        }
      }
    }
  }
}
