---
import Button from '../common/button.astro';
import Section from '../common/section.astro';
import CardList from '../common/card-list.astro';
import CardWithIcon from '../common/card-with-icon.astro';
---

<Section
  class="services-faqs"
  isPrimaryLight
  tagline="Got Questions? We've Got Answers."
  title="Frequently Asked Questions"
  description="We know choosing the right partner for your web development needs is a big decision. Here are some common questions and answers to help you make the best choice."
>
  <CardList>
    <CardWithIcon
      isWhite
      isFadeFromBottom
      noIcon
      title="How do you ensure my web app will be fast and scalable?"
      description="We use proven techniques and scalable design to make your app perform well in any conditions."
    />
    <CardWithIcon
      isWhite
      isFadeFromBottom
      noIcon
      title="What if I only need help with part of my web app?"
      description="No problem! Our services are flexible and customizable, so we can work on just the areas where you need the most help."
    />
    <CardWithIcon
      isWhite
      isFadeFromBottom
      noIcon
      title="Do you offer ongoing support?"
      description="Yes, we offer ongoing support and maintenance to keep your app updated and running well."
    />
  </CardList>
  <div slot="buttons">
    <Button href="/contact">Still Have Questions? Contact Us</Button>
  </div>
</Section>
