---
import Icon from '../common/icon.astro';
import Section from '../common/section.astro';
import CardList from '../common/card-list.astro';
import CardWithIcon from '../common/card-with-icon.astro';
---

<Section
  tagline="Focused Expertise in Every Area"
  title="Our Core Services"
  description="Explore our key offerings. They each solve specific problems and deliver results. Click on any service to learn more about how we can help your business excel."
>
  <CardList columns="two">
    <CardWithIcon
      isFadeFromBottom
      color="blue"
      title="Frontend Performance Optimization"
      description="Enhance your web app's speed and efficiency to keep users engaged and satisfied. No one sticks around for a slow app—let's make yours lightning-fast."
    >
      <Icon name="flash" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isFadeFromBottom
      color="purple"
      title="Scalable Web Architecture"
      description="Build a foundation that scales as your business grows. It delivers uniform results. Don't let your app crumble under the weight of success - build it to last."
    >
      <Icon name="box" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isFadeFromBottom
      color="green"
      title="Cutting-Edge Technology Integration"
      description="Stay ahead of the curve by integrating the latest tools and frameworks into your web app. Innovation doesn't wait - neither should your app."
    >
      <Icon name="net" width="58" height="58" />
    </CardWithIcon>
    <CardWithIcon
      isFadeFromBottom
      color="red"
      title="Expert Consulting & Strategy"
      description="Get personalized advice and support to make your web app exceptional. It's time to stop guessing and start succeeding."
    >
      <Icon name="clipboard-search" width="68" height="68" />
    </CardWithIcon>
  </CardList>
</Section>
