---
import Button from '../common/button.astro';
import OnePictureCard from '../common/one-picture-card.astro';
---

<OnePictureCard
  tagline="Your Success Is Our Priority"
  title="Comprehensive Services to Meet Your Unique Needs"
  description="We understand that every business is different. Our services must be flexible, scalable, and tailored to your needs. Whether you need a quick optimization or a full-scale rebuild, we've got you covered. With our expertise, your web app won't just keep up - it'll lead."
  imageUrl="/images/services/success-office.webp"
>
  <Button scheduleAppointment> Get Started with a Free Strategy Session </Button>
</OnePictureCard>
