---
import { Image } from 'astro:assets';
import Button from '../common/button.astro';
---

<section class="wrapper">
  <figure>
    <Image src="/images/services/success-office.webp" width="700" height="564" alt="Successful office space" />
  </figure>
  <div class="content card white shadow">
    <p class="tagline">Your Success Is Our Priority</p>
    <h2 class="heading2">Comprehensive Services to Meet Your Unique Needs</h2>
    <p class="description">
      We understand that every business is different. Our services must be flexible, scalable, and tailored to your
      needs. Whether you need a quick optimization or a full-scale rebuild, we've got you covered. With our expertise,
      your web app won't just keep up - it'll lead.
    </p>
    <Button
      onclick="Calendly.initPopupWidget({url: 'https://calendly.com/mueller-solutions/first-consultation'});return false;"
    >
      Get Started with a Free Strategy Session
    </Button>
  </div>
</section>

<style lang="scss">
  @use '../../styles/abstracts' as *;

  section {
    padding-block: pxtorem(80);

    @include mq(small) {
      display: flex;
      align-items: center;
      padding-block: pxtorem(140) pxtorem(86);
    }
  }

  figure {
    aspect-ratio: 700 / 564;
    overflow: hidden;
    border-radius: pxtorem(12);

    @include mq(small) {
      min-width: pxtorem(699);
    }

    @include mq(mobile) {
      max-width: 100%;
    }

    > img {
      width: 100%;
      height: 100%;
    }
  }

  .content {
    position: relative;
    z-index: 2;
    padding: pxtorem(42) pxtorem(20);

    @include mq(mobile) {
      margin-top: -#{pxtorem(42)};
    }

    @include mq(small) {
      padding: pxtorem(39) pxtorem(45);
      margin-inline-start: -#{pxtorem(45)};
    }
  }

  h2 {
    margin-block-end: pxtorem(14);
  }

  .description {
    margin-block-end: pxtorem(36);
  }
</style>
