---
import { Image } from 'astro:assets';
import ScheduleACallButton from '../ScheduleACallButton.astro';
---

<section id="pwa-expertise" class="wrapper section">
  <header>
    <p class="section-tag">
      <Image src="/images/icons/rocket.svg" alt="Bar Chart Icon" width="30" height="30" />
      Our Approach
    </p>
  </header>
  <div class="columns">
    <article class="block">
      <h2>Tool Selection and Configuration</h2>
      <p>
        Choosing the right tools is critical for project success. We help you choose and set up the best tools for your
        needs. This includes Vite, Webpack, Astro, Next.js, and other modern technologies. We ensure seamless
        integration of these tools into your workflow with our expertise.
      </p>
    </article>
    <article class="block">
      <h2>Best Practices Implementation</h2>
      <p>
        We teach you the best practices for coding, version control, and task automation. This covers creating a modular
        setup, naming rules, and streamlining your build process. As a result, you'll boost efficiency and ease of
        maintenance.
      </p>
    </article>
    <article class="block">
      <h2>Custom Workflows</h2>
      <p>
        Every project is unique, and so are its requirements. We create workflows that streamline your development
        process. They cover local dev environments to CI/CD pipelines. Your project flows seamlessly from beginning to
        end.
      </p>
    </article>
    <article class="block">
      <h2>Performance Optimization</h2>
      <p>
        A well-structured project is key to achieving optimal performance. We focus on performance from the start. We
        use code splitting, lazy loading, and asset management. These techniques ensure your app runs well and scales
        easily.
      </p>
    </article>
    <article class="block">
      <h2>Documentation and Training</h2>
      <p>
        Clear documentation is essential for maintaining a project over time. We will document your project setup and
        train your team. This will help them maintain and improve the project on their own.
      </p>
    </article>
    <article class="block">
      <h2>Ongoing Support</h2>
      <p>
        Our commitment doesn't end with the setup. We offer ongoing support to address any issues during development. We
        help you adapt to new technologies and industry changes.
      </p>
    </article>
  </div>
  <div>
    <p>
      <strong>
        Let us guide you through the process of setting up your next frontend project for success. Our Advanced Project
        Setup Guidance will help you.
      </strong>
    </p>
    <p>It will give you the tools and best practices to build high-quality, scalable web apps.</p>
  </div>
  <div>
    <ScheduleACallButton />
  </div>
</section>
