---
import { Image } from "astro:assets";
import ScheduleACallButton from "../ScheduleACallButton.astro";
---

<section id="pwa-benefits" class="wrapper section">
  <header>
    <p class="section-tag">
      <Image
        src="/images/icons/lightbulb.svg"
        alt="Lightbulb Icon"
        width="30"
        height="30"
      />
      Unlock Speed, Scale, and Stability from Day One
    </p>
    <p>
      Starting a project with the right setup can make all the difference
      between a smooth, efficient development process and one filled with
      roadblocks and inefficiencies. Proper project setup ensures that your team
      can work cohesively, reduces technical debt, and makes it easier to
      maintain and scale your application as it grows.
    </p>
  </header>
  <ul class="bulletpoints">
    <li>
      <strong>Faster Time-to-Market</strong>
      <span>Slash development time and launch sooner.</span>
    </li>
    <li>
      <strong>Fewer Bugs, Less Stress</strong>
      <span>Cut down errors with a rock-solid setup.</span>
    </li>
    <li>
      <strong>Seamless Scalability</strong>
      <span>Easily grow your app as your business expands.</span>
    </li>
    <li>
      <strong>Enhanced Team Efficiency</strong>
      <span>Boost productivity with streamlined workflows.</span>
    </li>
    <li>
      <strong>Superior Performance</strong>
      <span>Achieve faster load times and a smoother user experience.</span>
    </li>
    <li>
      <strong>Future-Proof Foundation</strong>
      <span>Build with best practices that stand the test of time.</span>
    </li>
  </ul>
  <div>
    <ScheduleACallButton />
  </div>
</section>
