---
import { Image } from 'astro:assets';
import Statistic from '../Statistic.astro';
import ScheduleACallButton from '../ScheduleACallButton.astro';
---

<section id="project-setup-statistics" class="wrapper section">
  <header>
    <p class="section-tag">
      <Image src="/images/icons/bar-chart.svg" alt="Bar Chart Icon" width="30" height="30" />
      Proof in Numbers
    </p>
    <h2 class="heading">
      Measure the Impact&nbsp;<br />of Precision and Expertise
    </h2>
    <p>
      When it comes to web development, the right project setup drives real results. Our Advanced Project Setup Guidance
      reduces development time, enhances scalability, and improves efficiency. The numbers below show how structure and
      best practices lead to success.
    </p>
  </header>
  <div class="cards">
    <Statistic number="-30%" caption="Development Time" />
    <Statistic number="-50%" caption="Bugs and Errors" />
    <Statistic number="+60%" caption="Faster Build Times" />
    <Statistic number="+70%" caption="Easier Scalability" />
  </div>
  <div>
    <ScheduleACallButton />
  </div>
</section>
