---
export const prerender = true;

import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/main-layout.astro';
import BlogPost from '../../components/blog-post.astro';

const posts = await getCollection('blog', (post) => !post.data.draft);
const orderedPosts = posts.sort((a, b) => new Date(b.data.posted).getTime() - new Date(a.data.posted).getTime());
---

<MainLayout
  title="Blog"
  description="Stay updated with the latest insights and advice regarding web design and development. Check out our new publications and tips from professionals!"
  keywords="blog, MUELLER Solutions, austin, texas, web development, AI solutions, web development services, AI solutions services"
>
  <header class="hero simple">
    <div class="wrapper">
      <h1 class="heading1 inverted">Blog</h1>
      <p>Stay updated with the latest insights and advice regarding web design and development.</p>
    </div>
  </header>
  <div class="wrapper blog">
    <div class="even-columns three-columns">
      {orderedPosts.map((post) => <BlogPost post={post} type="preview" />)}
    </div>
  </div>
</MainLayout>
