---
import dayjs from 'dayjs';
import MainLayout from '../../layouts/main-layout.astro';
import blogService from '../../services/blog.service';
import BlogPost from '../../components/blog-post.astro';

const { posts, numPages, currentPage } = await blogService.getPosts();
const latestPosts = posts.slice(0, 4);
const hasStickyPosts = posts.some((post: any) => post.sticky);
const stickyPosts = posts.filter((post: any) => post.sticky);
const postWithoutSticky = posts.filter((post: any) => !post.sticky);
---

<MainLayout
  title="Blog | MUELLER - Expert in Web Development and AI Solutions"
  description="Blog posts by MUELLER Solutions"
  keywords="blog, MUELLER Solutions, web development, AI solutions, web development services, AI solutions services"
>
  <div class="wrapper blog">
    <div class="even-columns three-columns">
      <div class="col-2 flex flex-col gap-2">
        {hasStickyPosts && stickyPosts.map((post: any) => <BlogPost post={post} type="featured" />)}
        <div class="even-columns two-columns">
          {postWithoutSticky.map((post: any) => <BlogPost post={post} type="preview" />)}
        </div>
      </div>
      <div class="col-1 flex flex-col gap-1">
        <p class="tagline">Latest Posts</p>
        {latestPosts.map((post: any) => <BlogPost post={post} type="latest" />)}
      </div>
    </div>
  </div>
</MainLayout>
