---
import FinalEngagement from '../../components/final-engagement.astro';
import Icon from '../../components/icon.astro';
import WhatsappButton from '../../components/whatsapp-button.astro';
import MainLayout from '../../layouts/main-layout.astro';
import HeroSection from '../../components/hero-section.astro';
import legacySystemImg from '../../assets/services/legacy-system.webp';
---

<MainLayout
  title="Legacy System Modernization | Future-Proof Your Business"
  description="Transform outdated systems into modern, scalable solutions. Our legacy system modernization services ensure your business is equipped for future growth with secure, efficient technologies."
  keywords="legacy system modernization, future-proof systems, modern tech stack, migrate legacy applications, secure web solutions, scalable web platforms"
>
  <HeroSection image={legacySystemImg}>
    <h1 class="heading1 inverted">Upgrade Your Legacy Systems to Future-Ready Solutions</h1>
    <p class="text-balanc text-pretty-mobile">
      Don't let outdated technology hold your business back—modernize and scale without disruption.
    </p>
    <div class="hero-actions">
      <button class="button" data-size="large">Book a Free Modernization Consultation</button>
      <WhatsappButton />
    </div>
  </HeroSection>
  <section class="section gradient-up">
    <div class="wrapper">
      <header>
        <p class="tagline">Outdated Systems Are Costing You — Here's How to Fix It</p>
        <h2 class="heading2">Why You Need Legacy System Modernization</h2>
      </header>
      <ul class="even-columns three-columns">
        <li class="card white shadow align-center fade-from-bottom">
          <Icon name="choice" width="68" height="68" />
          <h3 class="heading3">Future-Proof Your Business</h3>
          <p class="body2 text-balance text-pretty-mobile">
            Transition to modern tech stacks for long-term sustainability.
          </p>
        </li>
        <li class="card white shadow align-center fade-from-bottom">
          <Icon name="rocket" width="68" height="68" />
          <h3 class="heading3">Boost Efficiency</h3>
          <p class="body2 text-balance text-pretty-mobile">
            Upgrade to faster, more efficient platforms that cut operational costs.
          </p>
        </li>
        <li class="card white shadow align-center fade-from-bottom">
          <Icon name="check" width="68" height="68" />
          <h3 class="heading3">Improve Security</h3>
          <p class="body2 text-balance text-pretty-mobile">
            Eliminate vulnerabilities by using secure, modern frameworks.
          </p>
        </li>
        <li class="card white shadow align-center fade-from-bottom">
          <Icon name="net" width="68" height="68" />
          <h3 class="heading3">Seamless Integration</h3>
          <p class="body2 text-balance text-pretty-mobile">
            Integrate easily with new tools and systems to stay competitive.
          </p>
        </li>
        <li class="card white shadow align-center fade-from-bottom">
          <Icon name="strategies" width="68" height="68" />
          <h3 class="heading3">Scalability</h3>
          <p class="body2 text-balance text-pretty-mobile">
            Ensure your system is built to scale as your business grows.
          </p>
        </li>
        <li class="card white shadow align-center fade-from-bottom">
          <Icon name="proof" width="68" height="68" />
          <h3 class="heading3">Enhanced User Experience</h3>
          <p class="body2 text-balance text-pretty-mobile">
            Provide a smoother, more intuitive experience with modern interfaces.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <section class="section primary">
    <div class="wrapper">
      <header>
        <p class="tagline inverted">Transform Your Business — One Update at a Time</p>
        <h2 class="heading2 inverted">The Business Case for Modernization</h2>
      </header>
      <dl class="even-columns four-columns">
        <dt class="card white shadow align-center fade-from-bottom">
          <strong class="heading1 text-bold">60%</strong>
          <span class="body2 text-balance">
            of businesses experience increased productivity after system modernization.
          </span>
        </dt>
        <dt class="card white shadow align-center fade-from-bottom">
          <strong class="heading1 text-bold">90%</strong>
          <span class="body2 text-balance"> of breaches are caused by outdated software in legacy systems. </span>
        </dt>
        <dt class="card white shadow align-center fade-from-bottom">
          <strong class="heading1 text-bold">30%</strong>
          <span class="body2 text-balance"> reduction in operational costs is seen with modernized platforms. </span>
        </dt>
        <dt class="card white shadow align-center fade-from-bottom">
          <strong class="heading1 text-bold">50%</strong>
          <span class="body2 text-balance">
            improvement in user experience is reported by businesses with upgraded systems.
          </span>
        </dt>
      </dl>
    </div>
  </section>
  <section class="section wrapper">
    <header>
      <p class="tagline">A Modernization Process That Works</p>
      <h2 class="heading2">Our Step-by-Step Legacy System Modernization Process</h2>
    </header>
    <ul class="even-columns two-columns slim-content">
      <li class="card blue align-left fade-from-bottom">
        <h3 class="heading3">System Assessment</h3>
        <p class="body1">Evaluate the current system's architecture and performance.</p>
      </li>
      <li class="card red align-left fade-from-bottom">
        <h3 class="heading3">Strategic Planning</h3>
        <p class="body1">Craft a detailed roadmap for seamless modernization.</p>
      </li>
      <li class="card purple align-left fade-from-bottom">
        <h3 class="heading3">Tech Stack Upgrade</h3>
        <p class="body1">
          Transition to modern, scalable technologies like <strong>React</strong> and <strong>Node.js</strong>.
        </p>
      </li>
      <li class="card green align-left fade-from-bottom">
        <h3 class="heading3">Data & Functionality Migration</h3>
        <p class="body1">Migrate legacy data with minimal downtime.</p>
      </li>
      <li class="card blue align-left fade-from-bottom">
        <h3 class="heading3">Rigorous Testing</h3>
        <p class="body1">Ensure the new system is secure, efficient, and fully optimized.</p>
      </li>
      <li class="card purple align-left fade-from-bottom">
        <h3 class="heading3">Ongoing Support</h3>
        <p class="body1">Provide continuous improvements and updates as your needs evolve.</p>
      </li>
    </ul>
  </section>
  <FinalEngagement
    title="Ready to Future-Proof Your Business?"
    description="Out with the Old, In with the New"
    buttonText="Book a Free Consultation"
  />
</MainLayout>
