---
import MainLayout from '../../layouts/main-layout.astro';
---

<MainLayout
  title="Custom Web Development Services | Scalable, SEO-Optimized Solutions"
  description="Discover our custom web development services designed for growth. We create scalable, SEO-friendly, and high-performance websites tailored to your business needs."
  keywords="custom web development, scalable websites, SEO-friendly web development, high-performance web solutions, responsive web design, full-stack web development"
>
  <section class="hero" style="--background-image: url('/images/services/web-development.webp')">
    <div class="wrapper">
      <h1 class="heading1 inverted">Build Web Solutions That Drive Business Growth</h1>
      <p class="text-balance text-pretty-mobile">
        Create secure, scalable, and high-performance websites that leave a lasting impression.
      </p>
      <div class="hero-actions">
        <button
          class="button"
          data-size="large"
          onclick="Calendly.initPopupWidget({url: 'https://calendly.com/mueller-solutions/first-consultation?text_color=454545&primary_color=0b80c5'});return false;"
        >
          Book a Free Strategy Call
        </button>
      </div>
    </div>
  </section>
</MainLayout>
