---
import HeroBase from '../common/hero-base.astro';
import Button from '../common/button.astro';
---

<HeroBase imageUrl="/images/frontend-performance/laptop-on-couch.webp" class="fluid-height gradient-down image-right">
  <p class="tagline">Unleash Your Site's Full Potential</p>
  <h2 class="heading2">Let's Make Your Website Faster Than Ever</h2>
  <p class="description">
    Ready to deliver a faster, more responsive web experience? Contact us to start optimizing your frontend performance
    today.
  </p>
</HeroBase>
