---
import Button from '../common/button.astro';
import HeroBase from '../common/hero-base.astro';
---

<HeroBase class="image-left light-blue" imageUrl="/images/services/performance-optimization.webp">
  <h1 class="heading1">Supercharge Your Frontend for Peak Performance</h1>
  <p class="body1">Deliver fast user experiences that engage your audience and grow your business.</p>
  <Button scheduleAppointment> Get a Free Consultation </Button>
</HeroBase>
