---
import CardList from '../common/card-list.astro';
import CardWithIcon from '../common/card-with-icon.astro';
import Icon from '../common/icon.astro';
import Section from '../common/section.astro';
---

<Section tagline="Speed Matters—Let's Make Your Frontend Unstoppable" title="Why Optimize Your Frontend Performance?">
  <CardList columns="three">
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Blazing Fast Load Times"
      description="Reduce page load times to keep users on your site longer."
    >
      <Icon name="loading" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Improved SEO Rankings"
      description="Boost your search engine ranking with a faster site."
    >
      <Icon name="star" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Enhanced User Experience"
      description="Provide a seamless and responsive experience across all devices."
    >
      <Icon name="user" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Increased Conversion Rates"
      description="Faster pages lead to higher engagement and more conversions."
    >
      <Icon name="tacho" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Reduced Bounce Rates"
      description="Faster pages lead to higher engagement and more conversions."
    >
      <Icon name="chart-down" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Scalable Performance"
      description="Ensure your site remains fast, even as traffic grows."
    >
      <Icon name="slice" width="68" height="68" />
    </CardWithIcon>
  </CardList>
</Section>
