$color-body: rgb(254 254 254 / 100%);

// Gray
$color-gray: rgb(98 98 98 / 100%);
$color-gray-light: rgb(216 242 255 / 100%);

// Light & Dark
$color-light: rgb(255 255 255 / 100%);
$color-dark: rgb(34 52 63 / 100%);

// Primary
$color-primary-light: rgb(231 247 255 / 100%);
$color-primary: rgb(11 128 197 / 100%);
$color-primary-dark: rgb(1 97 176 / 100%);
$color-primary-darker: rgb(3 72 112 / 100%);

// Secondary
$color-secondary: rgb(255 202 58 / 100%);
