$color-body: #fefefe;

// Gray
$color-gray: #626262;
$color-gray-light: #d8f2ff;

// Light & Dark
$color-light: #fff;
$color-dark: #22343f;

// Primary
$color-primary-light: #e7f7ff;
$color-primary: #0b80c5;
$color-primary-dark: #0161b0;
$color-primary-darker: #034870;

// Secondary
$color-secondary: #ffca3a;
