$color-brand-light: rgb(11 128 197 / 100%);
$color-brand-dark: rgb(20 82 133 / 100%);
$color-light: rgb(255 255 255 / 100%);
$color-dark: rgb(69 69 69 / 100%);
$color-gray-dark: rgb(160 160 160 / 100%);
$color-gray-light: rgb(189 189 189 / 100%);
$color-body: rgb(241 241 241 / 100%);
$color-shine: rgb(255 252 241 / 75%);
$color-shine-low: rgb(255 252 241 / 50%);
$color-shine-lower: rgb(255 252 241 / 40%);
$color-orange: rgb(255 148 22 / 100%);
$color-yellow: rgb(255 213 64 / 100%);
