---
import { Image } from 'astro:assets';
import ScheduleACallButton from '../ScheduleACallButton.astro';
---

<section id="pwa-benefits" class="wrapper section">
  <header>
    <p class="section-tag">
      <Image src="/images/icons/lightbulb.svg" alt="Lightbulb Icon" width="30" height="30" />
      Why Choose Progressive Web Apps (PWAs)?
    </p>
  </header>
  <ul class="bulletpoints">
    <li>
      <strong>Cutting-Edge Web Technology</strong>
      <span>PWAs are the future of front end development.</span>
    </li>
    <li>
      <strong>Speed Optimization</strong>
      <span> PWAs are built for quick load times, enhancing user satisfaction. </span>
    </li>
    <li>
      <strong>Best of Both Worlds</strong>
      <span> Combines the strengths of mobile apps and websites for best performance. </span>
    </li>
    <li>
      <strong>Reliable Performance</strong>
      <span> Offers consistent functionality, even with poor internet connectivity. </span>
    </li>
    <li>
      <strong>Seamless User Experience</strong>
      <span> Delivers a fast, responsive, and engaging experience across all devices. </span>
    </li>
    <li>
      <strong>Enhanced User Engagement</strong>
      <span> Keeps users connected and engaged, regardless of their location or device. </span>
    </li>
  </ul>
  <div>
    <ScheduleACallButton />
  </div>
</section>
