---
import { Image } from "astro:assets";
import ScheduleACallButton from "../ScheduleACallButton.astro";
---

<section id="pwa-expertise" class="wrapper section">
  <header>
    <p class="section-tag">
      <Image
        src="/images/icons/rocket.svg"
        alt="Bar Chart Icon"
        width="30"
        height="30"
      />
      Our Expertise
    </p>
  </header>
  <div class="columns">
    <article class="block">
      <h2>Offline Functionality</h2>
      <p>
        Our Progressive Web Apps (PWAs) work well offline. Users can navigate
        content easily, both online and offline. It keeps users engaged, even
        with poor connectivity. It bridges online and offline experiences.
      </p>
    </article>
    <article class="block">
      <h2>Push Notifications</h2>
      <p>
        We implement push notifications to keep your users informed and engaged.
        We keep in touch with your audience through updates, alerts, and
        personalized content. This boosts user retention and encourages
        re-engagement.
      </p>
    </article>
    <article class="block">
      <h2>Fast Loading Times</h2>
      <p>
        Our PWAs are fast. They reduce loading times and provide a smooth,
        responsive user experience. This optimization helps keep users satisfied
        and reduces bounce rates, enhancing overall performance.
      </p>
    </article>
    <article class="block">
      <h2>Cross-Device Compatibility</h2>
      <p>
        Our PWAs work on all devices: desktop, tablet, and mobile. It ensures a
        high-quality experience for every user, no matter the platform they
        choose.
      </p>
    </article>
    <article class="block">
      <h2>App-Like Experience</h2>
      <p>
        We create PWAs. They provide an app-like experience. They have smooth
        animations, easy navigation, and fast interactions. This approach
        increases user satisfaction and encourages longer engagement with your
        app.
      </p>
    </article>
    <article class="block">
      <h2>Installs Without App Stores</h2>
      <p>
        Our PWAs let users install your app from their browser. This removes the
        need for app store downloads. This reduces entry barriers, making it
        easier for users to add your app to their home screens with a single
        tap.
      </p>
    </article>
    <article class="block">
      <h2>Improved SEO and Discoverability</h2>
      <p>
        Search engines index PWAs like regular web pages. This improves your
        site's visibility. This leads to increased organic traffic and a broader
        reach for your business.
      </p>
    </article>
    <article class="block">
      <h2>Reduced Development Costs</h2>
      <p>
        Our PWAs combine the best of web and mobile apps. They are a
        cost-effective solution. This approach cuts development time and costs.
        It ensures wide access and a faster time to market.
      </p>
    </article>
    <article class="block">
      <h2>Regular Updates and Maintenance</h2>
      <p>
        Our team will support and maintain your PWA. We will keep it up to date
        with the latest features, security patches, and performance fixes. This
        keeps your app at the cutting edge of technology.
      </p>
    </article>
  </div>
  <div>
    <p>
      <strong>
        We help you build a better online presence with Progressive Web Apps.
      </strong>
    </p>
    <p>
      Our team will turn your web app into a fast, engaging PWA. This boosts
      user satisfaction and business growth.
    </p>
  </div>
  <div>
    <ScheduleACallButton />
  </div>
</section>
