---
import { Image } from "astro:assets";
import ScheduleACallButton from "../ScheduleACallButton.astro";
import Statistic from "../Statistic.astro";
---

<section id="pwa-statistics" class="wrapper section">
  <header>
    <p class="section-tag">
      <Image
        src="/images/icons/bar-chart.svg"
        alt="Bar Chart Icon"
        width="30"
        height="30"
      />
      Boosting Engagement, Conversions, and Speed
    </p>
    <h2 class="heading">
      Experience Powerful Results&nbsp;<br />with Our Expert Front End
      Development
    </h2>
    <p>
      Transform your web app into a high-performing, engaging platform. Watch
      your metrics soar.
    </p>
  </header>
  <div class="cards">
    <Statistic number="+76%" caption="Conversion Rate" />
    <Statistic number="+100%" caption="Impressions Per Session" />
    <Statistic number="4x" caption="Interaction Rate" />
    <Statistic number="-80%" caption="Load Times" />
  </div>
  <div>
    <ScheduleACallButton />
  </div>
</section>
