---
import { Image } from "astro:assets";
import ScheduleACallButton from "../ScheduleACallButton.astro";
---

<section id="pwa-statistics" class="wrapper section">
  <header>
    <p class="section-tag">
      <Image
        src="/images/icons/bar-chart.svg"
        alt="Bar Chart Icon"
        width="30"
        height="30"
      />
      Boosting Engagement, Conversions, and Speed
    </p>
    <h2 class="heading">
      Experience powerful results&nbsp;<br />with our expert front end
      development
    </h2>
    <p>
      Transform your web app into a high-performing, engaging platform. Watch
      your metrics soar.
    </p>
  </header>
  <div class="cards">
    <figure class="card">
      <span>Up to</span>
      <span class="number">+76%</span>
      <figcaption>Conversion Rate</figcaption>
    </figure>
    <figure class="card">
      <span>Up to</span>
      <span class="number">+100%</span>
      <figcaption>Impressions Per Session</figcaption>
    </figure>
    <figure class="card">
      <span>Up to</span>
      <span class="number">4x</span>
      <figcaption>Interaction Rate</figcaption>
    </figure>
    <figure class="card">
      <span>Up to</span>
      <span class="number">-80%</span>
      <figcaption>Load Times</figcaption>
    </figure>
  </div>
  <div>
    <ScheduleACallButton />
  </div>
</section>
