---
interface Props {
  href: string;
  active: boolean;
}

const { href, active } = Astro.props;
---

<li>
  {
    active ? (
      <span class="text-blue-500">
        <slot />
      </span>
    ) : (
      <a
        href={href}
        class="text-gray-600 hover:text-black transition-colors duration-200 ease-out"
      >
        <slot />
      </a>
    )
  }
</li>
