---
import { Image } from "astro:assets";
import NavigationItem from "./navigation-item.astro";

interface Props {
  pathname: string;
}

const { pathname } = Astro.props;
---

<nav class="bg-white pt-6 pb-5 shadow-section sticky top-0">
  <div class="container mx-auto flex items-center justify-between">
    <a href="/">
      <Image
        src="/images/logo-main.svg"
        alt="MUELLER"
        width="282"
        height="48"
      />
    </a>

    <ul class="flex items-center gap-5">
      <NavigationItem href="/" active={pathname === "/"}>HOME</NavigationItem>
      <NavigationItem href="/services" active={pathname === "/services"}
        >SERVICES</NavigationItem
      >
      <NavigationItem href="/about" active={pathname === "/about"}
        >ABOUT</NavigationItem
      >
      <li>
        <a
          href="/contact"
          class:list={[
            "inline-block rounded-full px-4 py-1.5 bg-gradient-to-r from-[#0070D7] to-[#8421B3] text-white bg-repeate-y transform-gpu transition-all duration-200 ease-out hover:scale-105 shadow-sm shadow-transparent hover:shadow-black/15 hover:shadow-lg",
          ]}>CONTACT</a
        >
      </li>
    </ul>
  </div>
</nav>
