---
import { Image } from 'astro:assets';
import ScheduleACallButton from '../ScheduleACallButton.astro';
---

<section id="pwa-benefits" class="wrapper section">
  <header>
    <p class="section-tag">
      <Image src="/images/icons/lightbulb.svg" alt="Lightbulb Icon" width="30" height="30" />
      Why Choose Micro-Frontend Architecture?
    </p>
  </header>
  <ul class="bulletpoints">
    <li>
      <strong>Scalability</strong>
      <span> Scale components as your business grows, no app overhaul needed. </span>
    </li>
    <li>
      <strong>Improved Maintainability</strong>
      <span>Modular code simplifies updates and reduces maintenance.</span>
    </li>
    <li>
      <strong>Enhanced Team Collaboration</strong>
      <span>Independent work on components speeds up development.</span>
    </li>
    <li>
      <strong>Faster Time-to-Market</strong>
      <span>Decoupled pieces enable quicker feature releases.</span>
    </li>
    <li>
      <strong>Reduced Risk</strong>
      <span>Isolate components to contain issues within one area.</span>
    </li>
    <li>
      <strong>Technology Flexibility</strong>
      <span>Use the best technology for each component.</span>
    </li>
  </ul>
  <div>
    <ScheduleACallButton />
  </div>
</section>
