---
import { Image } from "astro:assets";
import Statistic from "../Statistic.astro";
import ScheduleACallButton from "../ScheduleACallButton.astro";
---

<section id="project-setup-statistics" class="wrapper section">
  <header>
    <p class="section-tag">
      <Image
        src="/images/icons/bar-chart.svg"
        alt="Bar Chart Icon"
        width="30"
        height="30"
      />
      Measurable Gains, Tangible Results
    </p>
    <h2 class="heading">
      How Micro-Frontend Architecture&nbsp;<br />Transforms Your Web Application
    </h2>
    <p>
      Adopting Micro-Frontend Architecture provides significant improvements in
      both development and performance. Here's how it can benefit your
      application:
    </p>
  </header>
  <div class="cards">
    <Statistic number="+40%" caption="Faster Deployment" />
    <Statistic number="-35%" caption="Maintenance Costs" />
    <Statistic number="+50%" caption="Team Efficiency" />
    <Statistic number="+30%" caption="Application Performance" />
  </div>
  <div>
    <ScheduleACallButton />
  </div>
</section>
