@use '../abstracts' as *;

.home-about {
  background-image: linear-gradient(to bottom, $color-primary-light, $color-light);
  padding-block: clamp(pxtorem(40), 4vw, pxtorem(80));

  .wrapper {
    display: grid;
    align-items: center;
    gap: clamp(pxtorem(40), 4vw, pxtorem(120));

    @include mq(small) {
      grid-template-columns: 1fr fit-content(40%);
    }
  }

  .content {
    @include mq(mobile) {
      text-align: center;
    }
  }

  h2 {
    margin-block-end: pxtorem(14);
  }

  p:not(.tagline) {
    margin-block-end: pxtorem(20);

    &:last-of-type {
      margin-block-end: pxtorem(30);
    }
  }

  .image {
    text-align: right;
  }
}
