@use '../abstracts' as *;

.home-solutions {
  padding: clamp(pxtorem(30), 4vw, pxtorem(60));
  margin-block: pxtorem(86) pxtorem(140);

  .even-columns {
    align-items: center;
  }

  h2 {
    margin-bottom: pxtorem(14);
  }

  figure {
    aspect-ratio: 514 / 552;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .description {
    margin-block-end: pxtorem(24);
  }

  ul {
    list-style: none;
    padding: 0;
    margin-block-end: pxtorem(36);

    > li:not(:last-child) {
      margin-block-end: pxtorem(12);
    }
  }

  strong {
    color: $color-primary-darker;
  }
}
