---
export const prerender = true;

import MainLayout from '../layouts/main-layout.astro';
import NotFoundServices from '../components/not-found-services.astro';
---

<MainLayout
  title="Page not found | MUELLER - Expert in Web Development and AI Solutions"
  description="The page you are looking for does not exist."
  keywords="404, page not found, error, not found, not found, web development, AI solutions, web development services, AI solutions services"
>
  <section class="hero simple">
    <div class="wrapper">
      <h1 class="heading1 inverted">Oh no! This page doesn't exist.</h1>
      <p>
        Lets see if we can find what you are looking for, or maybe something you didn't even know you were looking for.
      </p>
    </div>
  </section>
  <NotFoundServices />
</MainLayout>
