---
import ScheduleACallButton from "../components/ScheduleACallButton.astro";
import Layout from "../layout/MainLayout.astro";
---

<Layout title="Progressive Web App (PWA)">
  <article class="progressive-web-app">
    <section class="hero">
      <h1>Elevate Your Digital Presence with Progressive Web Apps</h1>
      <p></p>
      <ScheduleACallButton />
    </section>
  </article>
</Layout>
