---
export const prerender = true;

import MainLayout from '../layouts/main-layout.astro';
---

<MainLayout title="Booking Confirmed">
  <article class="page">
    <header class="hero simple">
      <div class="wrapper">
        <h1 class="heading1 inverted">You're All Set!</h1>
        <p>Your Consultation is Booked.</p>
      </div>
    </header>
    <div class="wrapper content">
      <section class="section text-center">
        <h2 class="heading2">Get Ready to Elevate Your Web Experience!</h2>
        <p class="body1">
          Thank you for scheduling your consultation with us! We've sent the booking details to your email, so be sure
          to check your inbox. We're excited to dive into how we can help you optimize your website's performance, scale
          your web app, or modernize your tech stack.
        </p>
        <p class="body1">We'll see you soon — let's take your project to the next level!</p>
      </section>
    </div>
  </article>
</MainLayout>
