---
export const prerender = true;

import MainLayout from '../layouts/main-layout.astro';
---

<MainLayout title="Performance Checklist Registered">
  <article class="page">
    <header class="hero simple">
      <div class="wrapper">
        <h1 class="heading1 inverted">You're All Set!</h1>
        <p>Your Performance Checklist is on its way to your inbox.</p>
      </div>
    </header>
    <div class="wrapper content">
      <section class="section text-center">
        <h2 class="heading2">Get Ready to Turbocharge Your Website!</h2>
        <p class="body1">
          Thank you for requesting your Performance Optimization Checklist! It's packed with actionable insights to help
          you speed up your site, improve SEO, and enhance your user experience. Be sure to check your email for the
          download link.
        </p>
        <p class="body1">
          Want to take your site to the next level even faster? Book a consultation with us today and let's unlock your
          website's full potential!
        </p>
        <p class="body1">We're excited to help you elevate your web experience!</p>
        <button id="free-consultation-button" class="button" data-size="large" data-free-consultation>
          Schedule a Free Consultation
        </button>
      </section>
    </div>
  </article>
</MainLayout>
