---
import NotFoundServices from '../components/not-found-services.astro';
import MainLayout from '../layouts/main-layout.astro';
---

<MainLayout title="Thanks for Reaching Out">
  <article class="page">
    <header class="hero simple">
      <div class="wrapper">
        <p class="tagline inverted">Your Next Move to Success Starts Here.</p>
        <h1 class="heading1 inverted">Thanks for Reaching Out! We're Excited to Connect</h1>
      </div>
    </header>
    <div class="wrapper content">
      <section class="section text-center">
        <p class="body1">
          We've received your message and can't wait to dive into it. Our team will get back to you soon to explore how
          we can drive your project forward. In the meantime, feel free to explore more about what we do, or check out
          some of our recent success stories.
        </p>
        <p class="body1">
          <strong>Stay tuned for an email from us soon!</strong>
        </p>
      </section>
    </div>
    <NotFoundServices />
  </article>
</MainLayout>
