---
export const prerender = true;

import FinalEngagement from '../components/final-engagement.astro';
import WhatsappButton from '../components/whatsapp-button.astro';
import MainLayout from '../layouts/main-layout.astro';
---

<MainLayout
  title="Contact Us"
  description="Contact us to discuss your web design and development project. Our team is focused on providing your business with the solutions to succeed digitally."
  keywords="contact, email, phone, form, web development, AI solutions, web development services, AI solutions services"
>
  <section class="hero simple">
    <div class="wrapper">
      <h1 class="heading1 inverted">Let's Build the Future Together</h1>
      <p class="text-balance text-pretty-mobile">
        Have a project in mind or need expert advice? Reach out to our team and let's create something extraordinary.
      </p>
    </div>
  </section>
  <section class="section wrapper">
    <form
      id="contact-form"
      action="POST"
      class="form"
      style="max-width: 400px; margin-inline: auto"
      hx-post="/api/forms/contact"
      hx-swap="none"
    >
      <p class="errors"></p>
      <label for="name" class="form-control">
        <span class="label">Name</span>
        <input type="text" id="name" name="name" data-required />
      </label>
      <label for="email" class="form-control">
        <span class="label">Email</span>
        <input type="email" id="email" name="email" data-required />
      </label>
      <label for="company" class="form-control">
        <span class="label">Comnpany (optional)</span>
        <input type="text" id="company" name="company" />
      </label>
      <label for="phone" class="form-control">
        <span class="label">Phone (optional)</span>
        <input type="text" id="phone" name="phone" />
      </label>
      <label for="message" class="form-control">
        <span class="label">Your Message</span>
        <textarea name="message" id="message" rows="4"></textarea>
      </label>
      <button type="submit" class="button primary"> Submit </button>
    </form>
  </section>
  <section class="section simple wrapper">
    <header>
      <p class="tagline">Quick, easy, and just a message away!</p>
      <h2 class="heading2">Got Questions? Let's Chat!</h2>
    </header>
    <p class="text-center">
      <WhatsappButton style="whatsapp" />
    </p>
  </section>
  <FinalEngagement />
</MainLayout>

<script>
  import { handleBlurEvent, handleFocusEvent } from '../utils/form.utils';

  const requiredInputs = document.querySelectorAll('[data-required]');

  for (const input of requiredInputs) {
    (input as HTMLInputElement).addEventListener('blur', handleBlurEvent);
    (input as HTMLInputElement).addEventListener('focus', handleFocusEvent);
  }

  document.body.addEventListener('contactSubmit', (event) => {
    // @ts-expect-error event.detail is not typed.
    const eventName = event.detail.value as string;

    if (eventName === 'contact-submit-failed') {
      const errorsEl = document.querySelector('#contact-form .errors') as HTMLDivElement;
      errorsEl.innerHTML = '<span class="error">Something went wrong. Please try again.</span>';
    }
  });
</script>
