---
import Header from "../components/Header.astro";
import Layout from "../layout/MainLayout.astro";
---

<Layout title="Contact us!">
  <Header />
  <main class="site-main">
    <section class="sub-hero">
      <div class="wrapper">
        <h1>Get in touch with us!</h1>
      </div>
    </section>
  </main>
</Layout>
