---
import MainLayout from '../layouts/main-layout.astro';
import HeroBase from '../components/common/hero-base.astro';
---

<MainLayout
  title="Contact Mueller Solutions | Web Development & Frontend Consulting in Austin, TX"
  description="Connect with Mueller Solutions, your go-to partner for web development, frontend consulting, and legacy application migration. Based in Austin, TX, we specialize in enhancing web performance, scalability, and speed. Reach out for expert consultation today.”"
  keywords="Mueller Solutions web development, Frontend consulting Austin, Contact Mueller Solutions, Web application consulting, Legacy app migration services, Web performance optimization, Mueller web consulting, Web development Austin"
>
  <HeroBase class="image-right fluid-height" imageUrl="/images/contact/building.webp">
    <h1 class="heading1">Start Your Web Development Journey Today</h1>
    <p class="body1">
      At Mueller Solutions, we specialize in web development and legacy system upgrades. Whether improving performance
      or enhancing user experience, we're here to help your business grow. Get in touch today to start your project.
    </p>
    <div
      class="pipedriveWebForms"
      data-pd-webforms="https://webforms.pipedrive.com/f/6FvFfQYkb4Gh0vK6guVt535BCcsWPAZSIvipYaBUd63dNyFUwt5tQKtt0Bg25GAQ15"
    >
      <script src="https://webforms.pipedrive.com/f/loader" is:inline></script>
    </div>
  </HeroBase>
</MainLayout>
