---
import Icon from '../components/icon.astro';
import WhatsappButton from '../components/whatsapp-button.astro';
import MainLayout from '../layouts/main-layout.astro';
---

<MainLayout
  title="Contact Us | MUELLER - Expert in Web Development and AI Solutions"
  description="Get in touch with MUELLER Solutions for your next project."
  keywords="contact, email, phone, form, web development, AI solutions, web development services, AI solutions services"
>
  <section class="hero simple">
    <div class="wrapper">
      <h1 class="heading1 inverted">Let's Build the Future Together</h1>
      <p class="text-balance text-pretty-mobile">
        Have a project in mind or need expert advice? Reach out to our team and let's create something extraordinary.
      </p>
    </div>
  </section>
  <section class="section wrapper">
    <p class="tagline text-center">No red tape, just real solutions.</p>
    <div
      class="pipedriveWebForms"
      data-pd-webforms="https://webforms.pipedrive.com/f/6FvFfQYkb4Gh0vK6guVt535BCcsWPAZSIvipYaBUd63dNyFUwt5tQKtt0Bg25GAQ15"
    >
      <script src="https://webforms.pipedrive.com/f/loader" is:inline></script>
    </div>
  </section>
  <section class="section simple wrapper">
    <header>
      <p class="tagline">Quick, easy, and just a message away!</p>
      <h2 class="heading2">Got Questions? Let's Chat!</h2>
    </header>
    <p class="text-center">
      <WhatsappButton style="whatsapp" />
    </p>
  </section>
</MainLayout>
