---
import Layout from "../layout/MainLayout.astro";

import ScheduleACallButton from "../components/ScheduleACallButton.astro";
import Benefits from "../components/Benefits.astro";
import Solutions from "../components/Solutions.astro";
import About from "../components/About.astro";
import Technologies from "../components/Technologies.astro";
---

<Layout>
  <main class="site-main" id="top">
    <section class="hero">
      <div class="wrapper">
        <h1>
          Speed Up Your Success with Fast and Reliable Web App Development
        </h1>
        <p>
          We help you turn your ideas into reality faster and with greater
          stability, offering expert front end development services and
          performance optimization.
        </p>
        <div>
          <ScheduleACallButton size="large" />
        </div>
      </div>
    </section>
    <Benefits />
    <Solutions />
    <About />
    <Technologies />
  </main>
</Layout>
