---
import { Image } from "astro:assets";
import Layout from "../layout/layout.astro";
import Hero from "../components/home/hero.astro";
import ContactTeaser from "../components/home/contact-teaser.astro";
import ServicesOverview from "../components/home/services-overview.astro";
---

<Layout pathname="/">
  <main>
    <Hero />
    <ContactTeaser />
    <ServicesOverview />
  </main>
</Layout>
