---
import Layout from "../layout/MainLayout.astro";

import Header from "../components/Header.astro";
import ScheduleACallButton from "../components/ScheduleACallButton.astro";
import Footer from "../components/Footer.astro";
import Benefits from "../components/Benefits.astro";
import Services from "../components/Solutions.astro";
import About from "../components/About.astro";
---

<Layout>
  <Header />
  <main class="site-main" id="top">
    <section class="hero">
      <div class="wrapper">
        <h1>Elevate Your Business with Cutting-Edge Web Solutions</h1>
        <p>
          We provide custom web apps, frontend advice, and performance boosts.
          Our team can bring your ideas to life faster.
        </p>
        <div>
          <ScheduleACallButton size="large" />
        </div>
      </div>
    </section>
    <Benefits />
    <Services />
    <About />
  </main>
  <Footer />
</Layout>
