---
import Layout from "../layout/MainLayout.astro";

import ScheduleACallButton from "../components/ScheduleACallButton.astro";
import Benefits from "../components/home/Benefits.astro";
import Solutions from "../components/home/Solutions.astro";
import About from "../components/home/About.astro";
import Technologies from "../components/home/Technologies.astro";
---

<Layout>
  <link
    slot="html-head"
    rel="preload"
    fetchpriority="high"
    as="image"
    href="/images/hero-background.webp"
    type="image/webp"
  />
  <link
    slot="html-head"
    rel="preload"
    fetchpriority="high"
    as="image"
    href="/images/florian-mueller.webp"
    type="image/webp"
  />
  <main class="site-main" id="home">
    <section class="hero home">
      <div class="wrapper">
        <h1>
          Speed Up Your Success with Fast and Reliable Web App Development
        </h1>
        <p>
          We help you turn your ideas into reality faster and with greater
          stability, offering expert front end development services and
          performance optimization.
        </p>
        <div>
          <ScheduleACallButton size="large" />
        </div>
      </div>
    </section>
    <Benefits />
    <Solutions />
    <About />
    <Technologies />
  </main>
</Layout>
