---
import MainLayout from '../layouts/main-layout.astro';
---

<MainLayout title="Privacy Policy | MUELLER - Expert in Web Development and AI Solutions">
  <article class="page">
    <header class="hero simple">
      <div class="wrapper">
        <h1 class="heading1 inverted">Privacy Policy</h1>
      </div>
    </header>
    <div class="wrapper content">
      <section class="section simple">
        <p class="body1">
          This privacy notice for DevBucket, LLC (doing business as MUELLER) ("<b>we</b>," "<b>us</b>," or "<b>our</b
          >"), describes how and why we might collect, store, use, and/or share ("<b>process</b>") your information when
          you use our services ("<b>Services</b>"), such as when you:
        </p>
        <ul data-type="list">
          <li>Visit our website at mueller-solutions.dev, or any website of ours that links to this privacy notice.</li>
          <li>Engage with us in other related ways, including any sales, marketing, or events.</li>
        </ul>
        <p class="body1">
          <b>Questions or concerns?</b> Reading this privacy notice will help you understand your privacy rights and choices.
          If you do not agree with our policies and practices, please do not use our Services. If you still have any questions
          or concerns, please contact us at info@mueller-solutions.dev.
        </p>
      </section>
      <section class="section simple">
        <h2 class="heading2">Summary of Key Points</h2>
        <p class="body1">
          <b>What personal information do we process?</b> When you visit, use, or navigate our Services, we may process personal
          information depending on how you interact with us and the Services, the choices you make, and the products and
          features you use.
        </p>
        <p class="body1">
          <b>Do we collect any information from third parties?</b> We do not collect any information from third parties.
        </p>
        <p class="body1">
          <b>How do we process your information?</b> We process your information to provide, improve, and administer our
          Services, communicate with you, for security and fraud prevention, and to comply with law. We may also process
          your information for other purposes with your consent. We process your information only when we have a valid legal
          reason to do so.
        </p>
        <p class="body1">
          <b> In what situations and with which parties do we share personal information? </b> We may share information in
          specific situations and with specific third parties.
        </p>
        <p class="body1">
          <b>How do we keep your information safe?</b> We have organizational and technical processes and procedures in place
          to protect your personal information. However, no electronic transmission over the internet or information storage
          technology can be guaranteed to be 100% secure, so we cannot promise or guarantee that hackers, cybercriminals,
          or other unauthorized third parties will not be able to defeat our security and improperly collect, access, steal,
          or modify your information.
        </p>
        <p class="body1">
          <b>What are your rights?</b> Depending on where you are located geographically, the applicable privacy law may
          mean you have certain rights regarding your personal information.
        </p>
        <p class="body1">
          <b>How do you exercise your rights?</b> The easiest way to exercise your rights is by contacting us at info@mueller-solutions.dev.
          We will consider and act upon any request in accordance with applicable data protection laws.
        </p>
      </section>
      <section class="section simple">
        <h2 class="heading2">What Information do we collection?</h2>
        <h3 class="heading3">Personal information you disclose to us</h3>
        <p class="body1">
          <b>In Short:</b> We collect personal information that you provide to us.
        </p>
        <p class="body1">
          We collect personal information that you voluntarily provide to us when you express an interest in obtaining
          information about us or our products and Services, when you participate in activities on the Services, or
          otherwise when you contact us.
        </p>
        <p class="body1">
          <b>Personal Information Provided by You.</b> The personal information that we collect depends on the context of
          your interactions with us and the Services, the choices you make, and the products and features you use. The personal
          information we collect may include the following:
        </p>
        <ul data-type="list">
          <li>names</li>
          <li>phone numbers</li>
          <li>email addresses</li>
        </ul>
        <p class="body1">
          <b>Sensitive Information.</b> We do not process sensitive information.
        </p>
        <p class="body1">
          All personal information that you provide to us must be true, complete, and accurate, and you must notify us
          of any changes to such personal information.
        </p>
        <h3 class="heading3">Information automatically collected</h3>
        <p class="body1">
          <b>In Short:</b> Some information — such as your Internet Protocol (IP) address and/or browser and device characteristics
          — is collected automatically when you visit our Services.
        </p>
        <p class="body1">
          We automatically collect certain information when you visit, use, or navigate the Services. This information
          does not reveal your specific identity (like your name or contact information) but may include device and
          usage information, such as your IP address, browser and device characteristics, operating system, language
          preferences, referring URLs, device name, country, location, information about how and when you use our
          Services, and other technical information. This information is primarily needed to maintain the security and
          operation of our Services, and for our internal analytics and reporting purposes.
        </p>
        <p class="body1">
          Like many businesses, we also collect information through cookies and similar technologies. You can find out
          more about this in our Cookie Notice: muellersolutions.dev/cookies-policy.
        </p>
        <p class="body1">The information we collect includes:</p>
        <ul data-type="list">
          <li>
            <b>Log and Usage Data.</b> Log and usage data is service-related, diagnostic, usage, and performance information
            our servers automatically collect whenyou access or use our Services and which we record in log files. Depending
            onhow you interact with us, this log data may include your IP address, deviceinformation, browser type, and settings
            and information about your activity inthe Services (such as the date/time stamps associated with your usage,
            pagesand files viewed, searches, and other actions you take such as which featuresyou use), device event information
            (such as system activity, error reports(sometimes called "crash dumps" ), and hardware settings).
          </li>
          <li>
            <b>Device Data.</b> We collect device data such as information about your computer,phone, tablet, or other device
            you use to access the Services. Depending onthe device used, this device data may include information such as
            your IPaddress (or proxy server), device and application identification numbers,location, browser type, hardware
            model, Internet service provider and/ormobile carrier, operating system, and system configuration information.
          </li>
          <li>
            <b>Location Data.</b> We collect location data such as information about yourdevice's location, which can be
            either precise or imprecise. How muchinformation we collect depends on the type and settings of the device you
            useto access the Services. For example, we may use GPS and other technologiesto collect geolocation data that
            tells us your current location (based on your IPaddress). You can opt out of allowing us to collect this information
            either byrefusing access to the information or by disabling your Location setting on yourdevice. However, if
            you choose to opt out, you may not be able to use certainaspects of the Services.
          </li>
        </ul>
      </section>
      <section class="section simple">
        <h2 class="heading2">How do we process your information?</h2>
        <p class="body1">
          <b>In Short:</b> We process your information to provide, improve, and administer ourServices, communicate with
          you, for security and fraud prevention, and to complywith law. We may also process your information for other purposes
          with your consent.
        </p>
        <p class="body1">
          <b>
            We process your personal information for a variety of reasons, depending onhow you interact with our
            Services, including:
          </b>
        </p>
        <ul data-type="list">
          <li>
            <b>To respond to user inquiries/offer support to users.</b> We may process yourinformation to respond to your
            inquiries and solve any potential issues youmight have with the requested service.
          </li>
          <li>
            <b> To evaluate and improve our Services, products, marketing, and yourexperience. </b> We may process your information
            when we believe it isnecessary to identify usage trends, determine the effectiveness of ourpromotional campaigns,
            and to evaluate and improve our Services, products,marketing, and your experience.
          </li>
          <li>
            <b>To identify usage trends.</b> We may process information about how you useour Services to better understand
            how they are being used so we can improvethem.
          </li>
          <li>
            <b> To determine the effectiveness of our marketing and promotionalcampaigns. </b> We may process your information
            to better understand how toprovide marketing and promotional campaigns that are most relevant to you.
          </li>
        </ul>
      </section>
      <section class="section simple">
        <h2 class="heading2">What legal bases do we rely on to process your information?</h2>
        <p class="body1">
          <b>In Short:</b> We only process your personal information when we believe it is necessaryand we have a valid legal
          reason (i.e. , legal basis) to do so under applicable law, likewith your consent, to comply with laws, to provide
          you with services to enter into or fulfill our contractual obligations, to protect your rights, or to fulfill our
          legitimatebusiness interests.
        </p>
        <p class="body1">
          <strong>If you are located in Canada, this section applies to you.</strong>
        </p>
        <p class="body1">
          We may process your information if you have given us specific permission (i.e. , express consent) to use your
          personal information for a specific purpose, or insituations where your permission can be inferred (i.e. ,
          implied consent). Youcan withdraw your consent at any time.
        </p>
        <p class="body1">
          In some exceptional cases, we may be legally permitted under applicable law toprocess your information without
          your consent, including, for example:
        </p>
        <ul data-type="list">
          <li>
            If collection is clearly in the interests of an individual and consent cannot beobtained in a timely way
          </li>
          <li>For investigations and fraud detection and prevention</li>
          <li>For business transactions provided certain conditions are met</li>
          <li>
            If it is contained in a witness statement and the collection is necessary toassess, process, or settle an
            insurance claim
          </li>
          <li>For identifying injured, ill, or deceased persons and communicating with nextof kin</li>
          <li>
            If we have reasonable grounds to believe an individual has been, is, or may bevictim of financial abuse
          </li>
          <li>
            If it is reasonable to expect collection and use with consent would compromisethe availability or the
            accuracy of the information and the collection isreasonable for purposes related to investigating a breach
            of an agreement or acontravention of the laws of Canada or a province
          </li>
          <li>
            If disclosure is required to comply with a subpoena, warrant, court order, orrules of the court relating to
            the production of records
          </li>
          <li>
            If it was produced by an individual in the course of their employment, business,or profession and the
            collection is consistent with the purposes for which theinformation was produced
          </li>
          <li>If the collection is solely for journalistic, artistic, or literary purposes</li>
          <li>If the information is publicly available and is specified by the regulations</li>
        </ul>
      </section>
      <section class="section simple">
        <h2 class="heading2">When and with whom do we share your personal information?</h2>
        <p class="body1">
          <b>In Short:</b> We may share information in specific situations described in this sectionand/or with the following
          third parties.
        </p>
        <p class="body1">We may need to share your personal information in the following situations:</p>
        <ul data-type="list">
          <li>
            <b>Business Transfers.</b> We may share or transfer your information in connectionwith, or during negotiations
            of, any merger, sale of company assets, financing,or acquisition of all or a portion of our business to another
            company.
          </li>
          <li>
            <b>Affiliates.</b> We may share your information with our affiliates, in which case wewill require those affiliates
            to honor this privacy notice. Affiliates include ourparent company and any subsidiaries, joint venture partners,
            or othercompanies that we control or that are under common control with us.
          </li>
          <li>
            <b>Business Partners.</b> We may share your information with our businesspartners to offer you certain products,
            services, or promotions.
          </li>
        </ul>
      </section>
      <section class="section simple">
        <h2 class="heading2">Do we use cookies and other tracking technologies?</h2>
        <p class="body1">
          <b>In Short:</b> We may use cookies and other tracking technologies to collect and storeyour information.
        </p>
        <p class="body1">
          We may use cookies and similar tracking technologies (like web beacons and pixels)to gather information when
          you interact with our Services. Some online trackingtechnologies help us maintain the security of our Services
          , prevent crashes, fix bugs,save your preferences, and assist with basic site functions.
        </p>
        <p class="body1">
          We also permit third parties and service providers to use online tracking technologieson our Services for
          analytics and advertising, including to help manage and displayadvertisements, to tailor advertisements to
          your interests, or to send abandoned shopping cart reminders (depending on your communication preferences).
          The thirdparties and service providers use their technology to provide advertising aboutproducts and services
          tailored to your interests which may appear either on ourServices or on other websites.
        </p>
        <p class="body1">
          To the extent these online tracking technologies are deemed to be a "sale"/"sharing" (which includes targeted
          advertising, as defined under the applicable laws) underapplicable US state laws, you can opt out of these
          online tracking technologies bysubmitting a request as described below under section "Do United States
          Residents have specific privacy rights?"
        </p>
        <p class="body1">
          Specific information about how we use such technologies and how you can refusecertain cookies is set out in
          our Cookie Notice : mueller-solutions.dev/cookies-policy .
        </p>
        <h3 class="heading3">Google Analytics</h3>
        <p class="body1">
          We may share your information with Google Analytics to track and analyze the use ofthe Services. The Google
          Analytics Advertising Features that we may use include: Google Analytics Demographics and Interests Reporting
          and Google DisplayNetwork Impressions Reporting . To opt out of being tracked by Google Analyticsacross the
          Services, visit
          <a href="https://tools.google.com/dlpage/gaoptout" target="_blank" rel="nofollow">
            https://tools.google.com/dlpage/gaoptout
          </a>. You can opt outof Google Analytics Advertising Features through
          <a href="https://adsettings.google.com" target="_blank" rel="nofollow"> Ads Settings </a> and Ad Settings formobile
          apps. Other opt out means include <a
            href="http://optout.networkadvertising.org/"
            target="_blank"
            rel="nofollow"
          >
            http://optout.networkadvertising.org/
          </a>
          and <a href="http://www.networkadvertising.org/mobile-choice" target="_blank" rel="nofollow">
            http://www.networkadvertising.org/mobile-choice
          </a>. For more information on the privacypractices of Google, please visit the <a
            href="https://policies.google.com/privacy"
            target="_blank"
            rel="nofollow"
          >
            Google Privacy & Terms page
          </a>.
        </p>
      </section>
      <section class="section simple">
        <h2 class="heading2">Do we offer Artificial Intelligence-based Products?</h2>
        <p class="body1">
          <b>In Short:</b> We offer products, features, or tools powered by artificial intelligence, machine learning, or
          similar technologies.
        </p>
        <p class="body1">
          As part of our Services, we offer products, features, or tools powered by artificialintelligence, machine
          learning, or similar technologies (collectively, "AI Products"). These tools are designed to enhance your
          experience and provide you withinnovative solutions. The terms in this privacy notice govern your use of the
          AIProducts within our Services.
        </p>
        <h3 class="heading3">Our AI Products</h3>
        <p class="body1">Our AI Products are designed for the following functions:</p>
        <ul data-type="list">
          <li>AI automation</li>
        </ul>
        <h3 class="heading3">How We Process Your Data Using AI</h3>
        <p class="body1">
          All personal information processed using our AI Products is handled in line with ourprivacy notice and our
          agreement with third parties. This ensures high security andsafeguards your personal information throughout
          the process, giving you peace ofmind about your data's safety.
        </p>
      </section>
      <section class="section simple">
        <h2 class="heading2">How long do we keep your information?</h2>
        <p class="body1">
          <b>In Short:</b> We keep your information for as long as necessary to fulfill the purposesoutlined in this privacy
          notice unless otherwise required by law.
        </p>
        <p class="body1">
          We will only keep your personal information for as long as it is necessary for thepurposes set out in this
          privacy notice, unless a longer retention period is required orpermitted by law (such as tax, accounting, or
          other legal requirements).
        </p>
        <p class="body1">
          When we have no ongoing legitimate business need to process your personalinformation, we will either delete or
          anonymize such information, or, if this is notpossible (for example, because your personal information has
          been stored in backuparchives), then we will securely store your personal information and isolate it fromany
          further processing until deletion is possible.
        </p>
      </section>
      <section class="section simple">
        <h2 class="heading2">How do we keep your information safe?</h2>
        <p class="body1">
          <b>In Short:</b> We aim to protect your personal information through a system of organizational and technical security
          measures.
        </p>
        <p class="body1">
          We have implemented appropriate and reasonable technical and organizational security measures designed to
          protect the security of any personal information weprocess. However, despite our safeguards and efforts to
          secure your information, noelectronic transmission over the Internet or information storage technology can
          beguaranteed to be 100% secure, so we cannot promise or guarantee that hackers,cybercriminals, or other
          unauthorized third parties will not be able to defeat oursecurity and improperly collect, access, steal, or
          modify your information. Althoughwe will do our best to protect your personal information, transmission of
          personalinformation to and from our Services is at your own risk. You should only access theServices within a
          secure environment.
        </p>
      </section>
      <section class="section simple">
        <h2 class="heading2">Do we collect information from minors?</h2>
        <p class="body1">
          <b>In Short:</b> We do not knowingly collect data from or market to children under 18 yearsof age.
        </p>
        <p class="body1">
          We do not knowingly collect, solicit data from, or market to children under 18 years ofage, nor do we
          knowingly sell such personal information. By using the Services, yourepresent that you are at least 18 or that
          you are the parent or guardian of such aminor and consent to such minor dependent's use of the Services. If we
          learn thatpersonal information from users less than 18 years of age has been collected, we willdeactivate the
          account and take reasonable measures to promptly delete such datafrom our records. If you become aware of any
          data we may have collected fromchildren under age 18, please contact us at info@mueller-solutions.dev.
        </p>
      </section>
      <section class="section simple">
        <h2 class="heading2">What are your Privacy Rights?</h2>
        <p class="body1">
          <b>In Short:</b> Depending on your state of residence in the US or in some regions, suchas Canada , you have rights
          that allow you greater access to and control over yourpersonal information. You may review, change, or terminate
          your account at any time,depending on your country, province, or state of residence.
        </p>
        <p class="body1">
          In some regions (like Canada), you have certain rights under applicable dataprotection laws. These may include
          the right (i) to request access and obtain a copyof your personal information, (ii) to request rectification
          or erasure; (iii) to restrict theprocessing of your personal information; (iv) if applicable, to data
          portability; and (v)not to be subject to automated decision-making. In certain circumstances, you mayalso have
          the right to object to the processing of your personal information. You canmake such a request by contacting
          us by using the contact details provided in thesection "How can you contact us about this Notice?" below.
        </p>
        <p class="body1">
          We will consider and act upon any request in accordance with applicable dataprotection laws.
        </p>
        <p class="body1">
          <b>Withdrawing your consent:</b> If we are relying on your consent to process yourpersonal information, which may
          be express and/or implied consent depending onthe applicable law, you have the right to withdraw your consent at
          any time. You canwithdraw your consent at any time by contacting us by using the contact detailsprovided in the
          section "How can you contact us about this Notice?" below.
        </p>
        <p class="body1">
          However, please note that this will not affect the lawfulness of the processing beforeits withdrawal nor, when
          applicable law allows, will it affect the processing of yourpersonal information conducted in reliance on
          lawful processing grounds other thanconsent.
        </p>
        <p class="body1">
          <b>Opting out of marketing and promotional communications:</b> You can unsubscribefrom our marketing and promotional
          communications at any time by clicking on theunsubscribe link in the emails that we send, or by contacting us using
          the detailsprovided in the section "How can you contact us about this Notice?" below. You will then be removed
          from the marketing lists. However, we may stillcommunicate with you — for example, to send you service-related
          messages that arenecessary for the administration and use of your account, to respond to servicerequests, or for
          other non-marketing purposes.
        </p>
        <p class="body1">
          <b>Cookies and similar technologies:</b> Most Web browsers are set to accept cookiesby default. If you prefer,
          you can usually choose to set your browser to remove cookies and to reject cookies. If you choose to remove cookies
          or reject cookies, thiscould affect certain features or services of our Services. For further information, please
          see our Cookie Notice: mueller-solutions.dev/cookies-policy.
        </p>
        <p class="body1">
          If you have questions or comments about your privacy rights, you may email us at info@mueller-solutions.dev.
        </p>
      </section>
      <section class="section simple">
        <h2 class="heading2">Contols for Do-Not-Track Features</h2>
        <p class="body1">
          Most web browsers and some mobile operating systems and mobile applicationsinclude a Do-Not-Track ("DNT")
          feature or setting you can activate to signal yourprivacy preference not to have data about your online
          browsing activities monitoredand collected. At this stage, no uniform technology standard for recognizing
          andimplementing DNT signals has been finalized . As such, we do not currently respondto DNT browser signals or
          any other mechanism that automatically communicatesyour choice not to be tracked online. If a standard for
          online tracking is adopted thatwe must follow in the future, we will inform you about that practice in a
          revisedversion of this privacy notice.
        </p>
        <p class="body1">
          California law requires us to let you know how we respond to web browser DNTsignals. Because there currently
          is not an industry or legal standard for recognizing or honoring DNT signals, we do not respond to them at
          this time.
        </p>
      </section>
      <section class="section simple">
        <h2 class="heading2">Do United States Residents have specific Privacy Rights?</h2>
        <p class="body1">
          <b>In Short:</b> If you are a resident of California, Colorado, Connecticut, Delaware,Florida, Indiana, Iowa, Kentucky,
          Montana, New Hampshire, New Jersey, Oregon,Tennessee, Texas, Utah, or Virginia , you may have the right to request
          access to andreceive details about the personal information we maintain about you and how wehave processed it,
          correct inaccuracies, get a copy of, or delete your personalinformation. You may also have the right to withdraw
          your consent to our processingof your personal information. These rights may be limited in some circumstances byapplicable
          law. More information is provided below.
        </p>
        <h3 class="heading3">Categories of Personal Information We Collect</h3>
        <p class="body1">
          We have collected the following categories of personal information in the past twelve(12) months:
        </p>
        <ul data-type="list">
          <li>
            <b>Identifiers:</b> Contact details, such as real name, alias, postal address, telephone or mobilecontact number,
            unique personal identifier, online identifier, Internet Protocol address, email address, and account name
          </li>
          <li><b>Geolocation data:</b> Device location</li>
          <li>
            <b>Professional or employment-related information:</b> Business contact details in order toprovide you our Services
            at a businesslevel or job title, work history, andprofessional qualifications if you apply fora job with us
          </li>
        </ul>
        <p class="body1">
          We may also collect other personal information outside of these categories throughinstances where you interact
          with us in person, online, or by phone or mail in thecontext of:
        </p>
        <ul data-type="list">
          <li>Receiving help through our customer support channels;</li>
          <li>Participation in customer surveys or contests; and</li>
          <li>Facilitation in the delivery of our Services and to respond to your inquiries.</li>
        </ul>
        <p class="body1">
          We will use and retain the collected personal information as long as the user has an account with us.
        </p>
        <h3 class="heading3">Sources of Personal Information</h3>
        <p class="body1">
          Learn more about the sources of personal information we collect in "What Information do we collect?" above.
        </p>
        <h3 class="heading3">How We Use and Share Personal Information</h3>
        <p class="body1">
          Learn about how we use your personal information in the section, "How do we process your information?" above.
        </p>
        <p class="body1"><b>Will your information be shared with anyone else?</b></p>
        <p class="body1">
          We may disclose your personal information with our service providers pursuant to awritten contract between us
          and each service provider. Learn more about how wedisclose personal information to in the section, "When and
          with whom do we share your personal information?" above.
        </p>
        <p class="body1">
          We may use your personal information for our own business purposes, such as forundertaking internal research
          for technological development and demonstration. Thisis not considered to be "selling" of your personal
          information.
        </p>
        <p class="body1">
          We have not disclosed, sold, or shared any personal information to third parties for abusiness or commercial
          purpose in the preceding twelve (12) months. We will not sellor share personal information in the future
          belonging to website visitors, users, andother consumers.
        </p>
        <h3 class="heading3">Your Rights</h3>
        <p class="body1">
          You have rights under certain US state data protection laws. However, these rightsare not absolute, and in
          certain cases, we may decline your request as permitted bylaw. These rights include:
        </p>
        <ul data-type="list">
          <li>
            <b>Right to know</b> whether or not we are processing your personal data
          </li>
          <li><b>Right to access</b> your personal data</li>
          <li><b>Right to correct</b> inaccuracies in your personal data</li>
          <li><b>Right to request</b> the deletion of your personal data</li>
          <li>
            <b>Right to obtain a copy</b> of the personal data you previously shared with us
          </li>
          <li><b>Right to non-discrimination</b> for exercising your rights</li>
          <li>
            <b>Right to opt out</b> of the processing of your personal data if it is used fortargeted advertising (or sharing
            as defined under California's privacy law) , thesale of personal data, or profiling in furtherance of decisions
            that produce legalor similarly significant effects ("profiling")
          </li>
        </ul>
        <p class="body1">Depending upon the state where you live, you may also have the following rights:</p>
        <ul data-type="list">
          <li>
            Right to obtain a list of the categories of third parties to which we havedisclosed personal data (as
            permitted by applicable law, including California'sand Delaware's privacy law)
          </li>
          <li>
            Right to obtain a list of specific third parties to which we have disclosedpersonal data (as permitted by
            applicable law, including Oregon's privacy law)
          </li>
          <li>
            Right to limit use and disclosure of sensitive personal data (as permitted byapplicable law, including
            California's privacy law)
          </li>
          <li>
            Right to opt out of the collection of sensitive data and personal data collectedthrough the operation of a
            voice or facial recognition feature (as permitted byapplicable law, including Floridas privacy law)
          </li>
        </ul>
        <h3 class="heading3">How to Exercise Your Rights</h3>
        <p class="body1">
          To exercise these rights, you can contact us by email at info@mueller-solutions.dev, or by referring to the
          contact details at the bottom of this document.
        </p>
        <p class="body1">
          Under certain US state data protection laws, you can designate an authorized agentto make a request on your
          behalf. We may deny a request from an authorized agentthat does not submit proof that they have been validly
          authorized to act on yourbehalf in accordance with applicable laws.
        </p>
        <h3 class="heading3">Request Verification</h3>
        <p class="body1">
          Upon receiving your request, we will need to verify your identity to determine you arethe same person about
          whom we have the information in our system. We will onlyuse personal information provided in your request to
          verify your identity or authorityto make the request. However, if we cannot verify your identity from the
          informationalready maintained by us, we may request that you provide additional information forthe purposes of
          verifying your identity and for security or fraud-prevention purposes.
        </p>
        <p class="body1">
          If you submit the request through an authorized agent, we may need to collectadditional information to verify
          your identity before processing your request and theagent will need to provide a written and signed permission
          from you to submit suchrequest on your behalf.
        </p>
        <h3 class="heading3">Appeals</h3>
        <p class="body1">
          Under certain US state data protection laws, if we decline to take action regardingyour request, you may
          appeal our decision by emailing us at info@mueller-solutions.dev. We will inform you in writing of any action
          taken or not taken inresponse to the appeal, including a written explanation of the reasons for thedecisions.
          If your appeal is denied, you may submit a complaint to your state attorneygeneral.
        </p>
        <h3 class="heading3">California "Shine The Light" Law</h3>
        <p class="body1">
          California Civil Code Section 1798.83, also known as the "Shine The Light" law,permits our users who are
          California residents to request and obtain from us, once ayear and free of charge, information about
          categories of personal information (if any)we disclosed to third parties for direct marketing purposes and the
          names andaddresses of all third parties with which we shared personal information in theimmediately preceding
          calendar year. If you are a California resident and would liketo make such a request, please submit your
          request in writing to us by using thecontact details provided in the section "How can you ontact us about this
          Notice?"
        </p>
      </section>
      <section class="section simple">
        <h2 class="heading2">Do we make updates to this Notice?</h2>
        <p class="body1">
          <b>In Short:</b> Yes, we will update this notice as necessary to stay compliant with relevantlaws.
        </p>
        <p class="body1">
          We may update this privacy notice from time to time. The updated version will beindicated by an updated
          "Revised" date at the top of this privacy notice. If we makematerial changes to this privacy notice, we may
          notify you either by prominently posting a notice of such changes or by directly sending you a notification.
          Weencourage you to review this privacy notice frequently to be informed of how we areprotecting your
          information.
        </p>
      </section>
      <section class="section simple">
        <h2 class="heading2">How can you contact us about this Notice?</h2>
        <p class="body1">
          If you have questions or comments about this notice, you may email us at info@mueller-solutions.dev or contact
          us by post at:
        </p>
        <p class="body1">
          DevBucket LLC<br />
          5900 Balcones Drive STE 100<br />
          Austin, TX 78731<br />
          United States
        </p>
      </section>
      <section class="section simple">
        <h2 class="heading2">How can you review, update, or delete the data we collect from you?</h2>
        <p class="body1">
          Based on the applicable laws of your country or state of residence in the US, you may have the right to
          request access to the personal information we collect from you, details about how we have processed it,
          correct inaccuracies, or delete your personalinformation. You may also have the right to withdraw your consent
          to our processing of your personal information. These rights may be limited in some circumstances by
          applicable law. To request to review, update, or delete your personal information, please send us an email at
          info@mueller-solutions.dev.
        </p>
      </section>
    </div>
  </article>
</MainLayout>
