---
import Benefits from "../components/pwa/Benefits.astro";
import Expertise from "../components/pwa/Expertise.astro";
import Statistics from "../components/pwa/Statistics.astro";
import ScheduleACallButton from "../components/ScheduleACallButton.astro";
import Layout from "../layout/MainLayout.astro";
---

<Layout
  title="Progressive Web App (PWA) Development Services | Fast, Secure, and Engaging Web Solutions"
  description="Discover the power of Progressive Web Apps (PWAs) with our expert development services. PWAs offer fast, reliable, and engaging user experiences, combining the best of mobile and web apps. Improve user engagement, enhance SEO, and ensure cross-device compatibility with our tailored PWA solutions. Transform your digital presence with secure, scalable, and high-performance web applications that work seamlessly offline and on any device."
  keywords="Progressive Web Apps, PWA development, Progressive Web App services, PWA solutions, PWA developers, PWA design, Progressive Web App optimization, PWA performance, PWA for mobile, PWA benefits, PWA installation, Fast web apps, Offline functionality, Web app speed optimization, Cross-device compatibility, App-like experience, Web app security, Mobile web development, High-performance web apps, Scalable web applications, Front end development services, Web app development, User engagement strategies, Responsive web design, SEO for web applications, Modern web technologies, Web performance optimization, Secure web solutions, Web app maintenance and support"
>
  <link
    slot="html-head"
    rel="preload"
    fetchpriority="high"
    as="image"
    href="/images/pwa-hero-background.webp"
    type="image/webp"
  />
  <main class="site-main">
    <section class="hero pwa">
      <div class="wrapper">
        <h1>Elevate Your Digital Presence with Progressive Web Apps</h1>
        <p>
          Progressive Web Apps (PWAs) boost user engagement and satisfaction.
          They work offline, send push notifications, load quickly, and function
          seamlessly on all devices.
        </p>
        <div>
          <ScheduleACallButton size="large" />
        </div>
      </div>
    </section>
    <Benefits />
    <Statistics />
    <Expertise />
  </main>
</Layout>
