---
import { Image } from "astro:assets";
import ScheduleACallButton from "../ScheduleACallButton.astro";
import Statistic from "../Statistic.astro";
---

<section id="pwa-statistics" class="wrapper section">
  <header>
    <p class="section-tag">
      <Image
        src="/images/icons/bar-chart.svg"
        alt="Bar Chart Icon"
        width="30"
        height="30"
      />
      Measurable Impact, Tangible Results
    </p>
    <h2 class="heading">
      How a Scalable Codebase&nbsp;<br />Enhances Your Web Application
    </h2>
    <p>
      The value of a well-structured, scalable, and maintainable codebase is
      evident in the measurable improvements it brings to your web application.
      Here’s how our approach delivers results.
    </p>
  </header>
  <div class="cards">
    <Statistic number="+40%" caption="Faster Implementation" />
    <Statistic number="-50%" caption="Maintenance Costs" />
    <Statistic number="-35%" caption="Bugs and Issues" />
    <Statistic number="+60%" caption="Team Efficiency" />
  </div>
  <div>
    <ScheduleACallButton />
  </div>
</section>
