---
import HeroBase from '../common/hero-base.astro';
---

<HeroBase imageUrl="/images/cutting-edge-technology/laptop-stats.webp" class="fluid-height gradient-down image-right">
  <p class="tagline">Integrate, Innovate, Succeed</p>
  <h2 class="heading2">Let's Equip Your Business with the Latest Technologies</h2>
  <p class="description">
    Stay ahead of the competition by integrating cutting-edge technologies today. Contact us to explore how we can help
    you innovate and grow.
  </p>
</HeroBase>
