---
import CardList from '../common/card-list.astro';
import CardWithIcon from '../common/card-with-icon.astro';
import Icon from '../common/icon.astro';
import Section from '../common/section.astro';
---

<Section tagline="Stay Ahead with Innovation" title="Why Cutting-Edge Technology Integration?">
  <CardList columns="three">
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Future-Proof Solutions"
      description="Adopt the latest technologies to keep your business competitive and adaptable."
    >
      <Icon name="lightbulb" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Enhanced Performance"
      description="Leverage advanced tools and frameworks to boost your website's speed and efficiency."
    >
      <Icon name="chart-up" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Improved Security"
      description="Implement state-of-the-art security measures to protect your data and users."
    >
      <Icon name="lock" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Better User Experience"
      description="Use modern technologies to create a smoother, more intuitive user experience."
    >
      <Icon name="user" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Seamless Updates"
      description="Easily update and upgrade your systems as new technologies emerge."
    >
      <Icon name="slice" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Increased Flexibility"
      description="Customize your web applications with the latest tech, ensuring they meet your unique business needs."
    >
      <Icon name="choice" width="68" height="68" />
    </CardWithIcon>
  </CardList>
</Section>
