---
import { Image } from 'astro:assets';
import Button from '../common/button.astro';
---

<section>
  <div class="wrapper">
    <div>
      <p class="tagline">Experience You Can Trust</p>
      <h2 class="heading2">Meet Florian Mueller</h2>
      <p>
        With over 20 years in web development, I've seen it all—from small agency projects to large-scale enterprise
        solutions. Now, I bring that experience to you, delivering personalized, expert consulting to help your business
        thrive. I work closely with clients to ensure every project exceeds expectations, with the goal of building
        long-term partnerships that drive success.
      </p>
      <!-- <p>
        While I currently lead the charge, my vision is to grow into a collaborative team dedicated to your success.
        Together, we can take your web app to the next level.
      </p> -->
      <Button
        onclick="Calendly.initPopupWidget({url: 'https://calendly.com/mueller-solutions/first-consultation'});return false;"
      >
        Lets Work Together
      </Button>
    </div>
    <div>
      <figure>
        <Image src="/images/home/florian-mueller.webp" alt="Florian Mueller" width="477" height="505" />
      </figure>
    </div>
  </div>
</section>

<style lang="scss">
  @use '../../styles/abstracts' as *;

  section {
    background-image: linear-gradient(to bottom, $color-primary-light, $color-light);
    padding-block: pxtorem(106) pxtorem(168);
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr fit-content(40%);
    align-items: center;
    gap: pxtorem(120);
  }

  h2 {
    margin-block-end: pxtorem(14);
  }

  p:not(.tagline) {
    margin-block-end: pxtorem(20);

    &:last-of-type {
      margin-block-end: pxtorem(30);
    }
  }

  .image {
    text-align: right;
  }
</style>
