---
import { Image } from 'astro:assets';
import ScheduleACallButton from '../ScheduleACallButton.astro';
---

<section id="about" class="section primary">
  <div class="wrapper fluid-row">
    <div class="content">
      <header class="header">
        <p class="tagline inverted">Experience You Can Trust</p>
        <h2 class="heading2 inverted">Meet Florian Mueller</h2>
        <p class="body1 inverted">
          With over 20 years in web development, I've seen it all—from small agency projects to large-scale enterprise
          solutions. Now, I bring that experience to you, delivering personalized, expert consulting to help your
          business thrive. I work closely with clients to ensure every project exceeds expectations, with the goal of
          building long-term partnerships that drive success.
        </p>
      </header>
    </div>
    <div class="fade-from-right no-shrink">
      <Image
        src="/images/home/florian-mueller.webp"
        alt="Florian Mueller, Senior Frontend Developer since 2001"
        width="404"
        height="492"
      />
    </div>
  </div>
</section>
