---
import { Image } from 'astro:assets';
import ScheduleACallButton from '../ScheduleACallButton.astro';
---

<section id="benefits" class="wrapper section benefits">
  <header class="header">
    <p class="tagline">
      <Image src="/images/icons/lightbulb.svg" alt="Lightbulb Icon" width="30" height="30" />
      Why MUELLER?
    </p>
    <h2 class="heading2">
      Turn Your Vision into&nbsp;<br />High-Performance Web Applications
    </h2>
  </header>
  <ul class="columns">
    <li class="benefit fade-from-bottom">
      <h3 class="heading3">Faster Web&nbsp;<br />App Development</h3>
      <p class="body1">
        We accelerate your development with efficient frontend development processes. Our team collaborates with you at
        every stage to meet your unique needs, ensuring faster releases.
      </p>
    </li>
    <li class="benefit fade-from-bottom">
      <h3 class="heading3">
        Top Frontend Development&nbsp;<br />Services for Greater Stability
      </h3>
      <p class="body1">
        Our team establishes strict coding standards and comprehensive testing to ensure quality. We utilize modern
        frontend development technologies to build advanced and robust frontend architecture.
      </p>
    </li>
    <li class="benefit fade-from-bottom">
      <h3 class="heading3">Enhanced Conversion and&nbsp;<br />SEO for Better Findability</h3>
      <p class="body1">
        We add a Progressive Web App and server-side rendering. They will speed up your app and boost SEO, which makes
        your app more visible.
      </p>
    </li>
  </ul>
  <div>
    <ScheduleACallButton />
  </div>
</section>
