---
import { Image } from 'astro:assets';
import ScheduleACallButton from '../ScheduleACallButton.astro';
---

<section id="benefits" class="wrapper section benefits">
  <header>
    <p class="section-tag">
      <Image src="/images/icons/lightbulb.svg" alt="Lightbulb Icon" width="30" height="30" />
      Why MUELLER?
    </p>
    <h2 class="heading">
      Turn Your Vision into&nbsp;<br />High-Performance Web Applications
    </h2>
  </header>
  <div class="columns">
    <div class="benefit">
      <h3>Faster Web&nbsp;<br />App Development</h3>
      <p>
        We accelerate your development with efficient front end development processes. Our team collaborates with you at
        every stage to meet your unique needs, ensuring faster releases.
      </p>
    </div>
    <div class="benefit">
      <h3>
        Top Front End Development&nbsp;<br />Services for Greater Stability
      </h3>
      <p>
        Our team establishes strict coding standards and comprehensive testing to ensure quality. We utilize modern
        front end development technologies to build advanced and robust frontend architecture.
      </p>
    </div>
    <div class="benefit">
      <h3>Enhanced Conversion and&nbsp;<br />SEO for Better Findability</h3>
      <p>
        We add a Progressive Web App and server-side rendering. They will speed up your app and boost SEO, which makes
        your app more visible.
      </p>
    </div>
  </div>
  <div>
    <ScheduleACallButton />
  </div>
</section>
