---
import { Image } from "astro:assets";
---

<section
  class="bg-gradient-to-b from-white to-[#F0F0F0] shadow-section pt-4 pb-10"
>
  <div class="container mx-auto flex flex-col gap-3">
    <h2>
      <Image
        src="/images/contact-teaser-title.png"
        alt="Get in contact with us today"
        width="601"
        height="82"
      />
    </h2>
    <form class="grid grid-cols-4 items-center gap-5" id="contact-teaser">
      <input
        type="text"
        name="name"
        required
        placeholder="Your Name *"
        class="border-0 shadow-input rounded-lg px-5 py-3 outline-none ring-1 ring-transparent hover:shadow-input-hover focus-visible:shadow-input-hover focus-visible:ring-blue-500 transition-shadow duration-300 ease-in-out"
      />
      <input
        type="email"
        name="email"
        required
        placeholder="Your Email *"
        class="border-0 shadow-input rounded-lg px-5 py-3 outline-none ring-1 ring-transparent hover:shadow-input-hover focus-visible:shadow-input-hover focus-visible:ring-blue-500 transition-shadow duration-300 ease-in-out"
      />
      <input
        type="text"
        name="text"
        placeholder="Your Phone Number"
        class="border-0 shadow-input rounded-lg px-5 py-3 outline-none ring-1 ring-transparent hover:shadow-input-hover focus-visible:shadow-input-hover focus-visible:ring-blue-500 transition-shadow duration-300 ease-in-out"
      />
      <div>
        <button
          type="submit"
          class="bg-gradient-to-r from-[#0070D7] to-[#8421B3] px-12 py-3 inline-block rounded-full text-white bg-repeate-y transform-gpu transition-all duration-200 ease-out hover:scale-105 shadow-sm shadow-transparent hover:shadow-black/15 hover:shadow-lg"
        >
          SUBMIT
        </button>
      </div>
    </form>
  </div>
</section>

<script>
  import emailJS from "@emailjs/browser";

  (function () {
    emailJS.init({
      publicKey: "5yoGWDs_URfJPU31M",
    });

    const form = document.getElementById("contact-teaser")! as HTMLFormElement;
    form.addEventListener("submit", (event) => {
      event.preventDefault();

      emailJS.sendForm("namecheap_contact", "website_contact", form).then(
        function (response) {
          console.log("SUCCESS!", response.status, response.text);
        },
        function (error) {
          console.log("FAILED...", error);
        }
      );
    });
  })();
</script>
