---
import Button from '../common/button.astro';
import Icon from '../common/icon.astro';
---

<section class="final-engagement wrapper card">
  <p class="tagline inverted">Your Next Step Toward a Better App</p>
  <h2 class="heading2 inverted">Ready to Transform Your Web App?</h2>
  <p class="description">
    We're here to help you unlock the full potential of your web app. Whether you're ready to schedule a consultation or
    want to learn more, we're just a click away.
  </p>
  <div class="buttons">
    <Button isSecondary slot="buttons" scheduleAppointment> Schedule a Free Consultation </Button>
    <Button isSecondary isOutlined slot="buttons">
      <Icon name="download" />
      <span>Free Optimization Checklist</span>
    </Button>
  </div>
</section>

<style lang="scss">
  @use '../../styles/abstracts' as *;

  section {
    background-color: $color-primary-dark;
    padding: pxtorem(83) pxtorem(217);
    text-align: center;
    margin-block-end: pxtorem(95);
  }

  h2 {
    margin-block-end: pxtorem(14);
    padding-inline: 12.5%;
  }

  .description {
    color: $color-light;
    margin-bottom: pxtorem(33);
  }

  .buttons {
    display: inline-flex;
    flex-direction: column;
    gap: pxtorem(20);
  }
</style>
