---
import { Image } from "astro:assets";
---

<section
  class="bg-[#0B59AE] bg-[url(/images/hero-bg.png)] bg-no-repeat bg-top 2xl:bg-contain bg-cover"
>
  <div
    class="container mx-auto grid place-items-center pt-8 pb-10 md:pt-[4rem] md:pb-[5rem] lg:pt-[6rem] lg:pb-[10rem] px-6 md:px-2 lg:px-0"
  >
    <h1>
      <Image
        src="/images/hero-titles.png"
        alt="Boost your Business with next-generation Web Solutions"
        width="810"
        height="228"
      />
    </h1>
  </div>
</section>
