---
import { Image } from "astro:assets";
---

<section class="bg-gradient-to-r from-[#0060B8] to-[#28A2E7] py-16 text-white">
  <div
    class="container mx-auto flex items-center justify-between bg-[url(/images/services-visual.png)] bg-no-repeat bg-center"
  >
    <div class="flex flex-col gap-12">
      <div>
        <h2>
          <Image
            src="/images/web-applications-title.png"
            alt="Web Applications"
            width="305"
            height="26"
          />
        </h2>
        <p>
          Experience fast, scalable, and user-friendly web applications tailored
          to enhance your business operations and boost customer engagement.
        </p>
      </div>
      <div>
        <h2>Web Applications</h2>
      </div>
    </div>
    <div class="flex flex-col gap-12">
      <div>
        <h2>Web Applications</h2>
      </div>
      <div>
        <h2>Web Applications</h2>
      </div>
    </div>
  </div>
</section>
