---
import Icon from '../common/icon.astro';
import Button from '../common/button.astro';
import CardWithIcon from '../common/card-with-icon.astro';
import Section from '../common/section.astro';
import CardList from '../common/card-list.astro';
---

<Section
  isPrimary
  tagline="Solutions that drive success"
  title="Our Services"
  description="We offer a range of services designed to optimize your web app for peak performance and scalability. Whether you need frontend performance optimization, scalable architecture, or cutting-edge technology integration, we've got you covered."
>
  <CardList columns="three">
    <CardWithIcon
      title="Frontend Performance Optimization"
      description="Make your app lightning-fast and keep users engaged"
      isWhite
      isFadeFromBottom
    >
      <Icon name="frontend-performance" width="52" height="52" />
    </CardWithIcon>
    <CardWithIcon
      title="The Scalable Web Architecture"
      description="Build a robust foundation that grows with your business"
      isWhite
      isFadeFromBottom
    >
      <Icon name="scalable-architecture" width="60" height="52" />
    </CardWithIcon>
    <CardWithIcon
      title="Cutting-Edge Technology Integration"
      description="Stay ahead with the latest tools and frameworks"
      isWhite
      isFadeFromBottom
    >
      <Icon name="cutting-edge-technology" width="52" height="52" />
    </CardWithIcon>
  </CardList>
  <Button href="/services" slot="buttons" isSecondary> Explore Our Services </Button>
</Section>
