---
import { Image } from "astro:assets";
import Solution from "./Solution.astro";
---

<section id="services" class="wrapper section solutions">
  <header>
    <p class="section-tag">
      <Image
        src="/images/icons/puzzle.svg"
        alt="Puzzle Icon"
        width="30"
        height="30"
      />
      Our Solutions
    </p>
    <h2 class="heading">
      Expert Front End Development&nbsp;<br />Tailored for Your Success
    </h2>
  </header>
  <div class="columns smaller">
    <Solution
      title="Integrating Progressive Web Apps (PWAs)"
      description="Enhance user engagement with Progressive Web Apps (PWAs). These apps work offline, send push notifications, load quickly, and function seamlessly on all devices. Our front end development team will transform your web app into a fast, engaging PWA, boosting user satisfaction and driving business growth."
      icon="pwa"
      href="/progressive-web-app-pwa"
    />
    <Solution
      title="Advanced Project Setup Guidance"
      description="Get expert front end development consulting for setting up projects with tools like Vite, Next.js, Astro, or other technologies. Our services include hands-on plans and ongoing support to ensure successful adoption. With a deep understanding of modern frontend development, we provide guidance to build your projects on a solid foundation."
      icon="spinning-cog"
      href="/advanced-project-setup-guidance"
    />
    <Solution
      title="Scalable and Maintainable Codebases"
      description="We help you scale your codebase into maintainable web applications by applying best-practice code structures. Our front end development services include thorough documentation and team training to ensure your code remains scalable and easy to improve."
      icon="filetree"
      href="/scalable-and-maintainable-codebases"
    />
    <Solution
      title="Micro-Frontend Architecture for better Growth"
      description="We enhance your web application using micro-frontend architecture, dividing it into smaller, manageable services for easier updates, scaling, and maintenance. This approach helps you build a strong, scalable system that grows with your business. These agile components work seamlessly together, improving user experience and driving your app's growth."
      icon="apps"
    />
    <Solution
      title="Complete Front End Performance Improvement Strategies"
      description="We enhance performance by optimizing the frontend with techniques like code splitting, lazy loading, and effective asset management. Regular performance audits ensure a fast, smooth, and reliable user experience. Our comprehensive front end development strategies lead to satisfied users who keep coming back."
      icon="plane"
    />
    <Solution
      title="Expertise in Modern Front End Development Technologies"
      description="Leverage our expertise in front end development and server-side rendering to boost your application's performance. We employ advanced optimization techniques and stay updated with the latest trends to ensure your applications are high-performing, scalable, and future-proof, delivering an exceptional user experience."
      icon="network"
    />
  </div>
</section>
