---
import { Image } from 'astro:assets';
import Button from '../common/button.astro';
---

<section class="wrapper card white shadow">
  <div class="even-columns two-columns">
    <div class="content">
      <p class="tagline">Proven Process to Success</p>
      <h2 class="heading2">Innovative Solutions With Integrity</h2>
      <p class="description">
        With over 20 years of experience, we've honed a process that ensures your app not only meets your current needs
        but is also ready to scale as your business grows.
      </p>
      <ul>
        <li><strong>Understand Your Needs:</strong> We start by diving deep into your business goals and challenges</li>
        <li>
          <strong>Audit & Analyze:</strong> We conduct a thorough performance audit to identify areas for improvement.
        </li>
        <li>
          <strong>Craft a Custom Strategy:</strong> We develop a tailored plan that addresses your unique challenges.
        </li>
        <li><strong>Implement & Optimize:</strong> We roll out the solutions that will transform your app.</li>
        <li><strong>Test for Perfection:</strong> Rigorous testing ensures flawless performance.</li>
        <li><strong>Ongoing Support:</strong> We provide continuous support to keep your app at its best.</li>
      </ul>
      <Button> Ready To Get Started </Button>
    </div>
    <figure>
      <Image src="/images/home/solutions-collage.webp" alt="Solutions Collage" width="514" height="552" />
    </figure>
  </div>
</section>

<style lang="scss">
  @use '../../styles/abstracts' as *;

  section {
    padding: clamp(pxtorem(30), 4vw, pxtorem(60));
    margin-block: pxtorem(86) pxtorem(140);
  }

  .even-columns {
    align-items: center;
  }

  h2 {
    margin-bottom: pxtorem(14);
  }

  figure {
    aspect-ratio: 514 / 552;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .description {
    margin-block-end: pxtorem(24);
  }

  ul {
    list-style: none;
    padding: 0;
    margin-block-end: pxtorem(36);

    > li:not(:last-child) {
      margin-block-end: pxtorem(12);
    }
  }

  strong {
    color: $color-primary-darker;
  }
</style>
