---
import Button from '../common/button.astro';
import SpecsCard from '../common/specs-card.astro';
---

<SpecsCard
  withShadow
  tagline="Proven Process to Success"
  title="Innovative Solutions With Integrity"
  description="With over 20 years of experience, we've honed a process that ensures your app not only meets your current needs but is also ready to scale as your business grows."
  list={[
    { title: 'Understand Your Needs', description: 'We start by diving deep into your business goals and challenges' },
    {
      title: 'Audit & Analyze',
      description: 'We conduct a thorough performance audit to identify areas for improvement',
    },
    {
      title: 'Craft a Custom Strategy',
      description: 'We develop a tailored plan that addresses your unique challenges',
    },
    { title: 'Implement & Optimize', description: 'We roll out the solutions that will transform your app' },
    { title: 'Test for Perfection', description: 'Rigorous testing ensures flawless performance' },
    { title: 'Ongoing Support', description: 'We provide continuous support to keep your app at its best' },
  ]}
  imageUrl="/images/home/solutions-collage.webp"
  imageAlt="Solutions Collage"
  imageWidth={514}
  imageHeight={552}
  imageAspectRatio="514 / 552"
>
  <Button scheduleAppointment> Ready To Get Started </Button>
</SpecsCard>
