---
import Button from '../common/button.astro';
import Section from '../common/section.astro';
import CardList from '../common/card-list.astro';
import TestimonialsItem from './testimonials-item.astro';
---

<Section
  class="home-testimonials"
  isGradientDown
  tagline="Testimonials"
  title="Real Results, Real Impact"
  description="Talk is cheap, but results speak volumes. Here's how we've helped businesses like yours overcome their biggest challenges and achieve exceptional results"
>
  <CardList columns="three">
    <TestimonialsItem
      href="https://www.linkedin.com/in/stephan-conrad-627b5a19"
      quote="Florian is a great frontend engineer. I have worked with him directly and indirectly for several years. He has vast frontend and overall architectural knowledge. He can start a project from scratch and act as the first engineer in a new project e.g. setting up repos, build pipelines, architecture, ... Furthermore, he constantly keeps himself informed about what is going on in the community."
      author="Stephan Conrad"
      company="Senior Director of Engineering, Veeva Systems"
      image="https://media.licdn.com/dms/image/v2/C4D03AQHyAQNlEHakEA/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1516825198799?e=1732752000&v=beta&t=4XzxITsl63UvvvpC_OzjCmMc-PJy-D2brsQ2en3LTgs"
    />
  </CardList>
</Section>
