---
import { Image } from "astro:assets";
import ScheduleACallButton from "./ScheduleACallButton.astro";
---

<section id="benefits" class="wrapper section benefits">
  <p class="section-tag">
    <Image
      src="/images/icons/lightbulb.svg"
      alt="Lightbulb Icon"
      width="30"
      height="30"
    />
    Why MUELLER?
  </p>
  <h2 class="heading">
    Turn Your Vision into<br />High-Performance Web Solutions
  </h2>
  <div class="columns">
    <div class="benefit">
      <h4>Faster Web Application Development</h4>
      <p>
        We speed up your development with efficient processes. Our team works
        with you to meet your unique needs on all stages for faster releases.
      </p>
    </div>
    <div class="benefit">
      <h4>Higher Quality<br />and Stability</h4>
      <p>
        Our team sets up strict coding standards and testing for you. We use
        modern technologies to build advanced frontend architecture.
      </p>
    </div>
    <div class="benefit">
      <h4>Better Conversion<br />and Findability</h4>
      <p>
        We add a Progressive Web App and server-side rendering. They will speed
        up your app and boost SEO, which makes your app more visible.
      </p>
    </div>
  </div>
  <div>
    <ScheduleACallButton />
  </div>
</section>
