---
type Props = {
  title?: string;
  description?: string;
  buttonText?: string;
};

const {
  title = 'Ready to Take Your Project to the Next Level?',
  description = "Let's discuss your needs and explore how we can help you achieve your goals.",
  buttonText = 'Schedule a Free Consultation',
}: Props = Astro.props;
---

<section class="section wrapper">
  <div class="final-engagement">
    <h2 class="heading2 inverted">{title}</h2>
    <p class="body1 inverted text-balance text-pretty-mobile">
      {description}
    </p>
    <button class="button" data-free-consultation>
      {buttonText}
    </button>
  </div>
</section>
