---
import ScheduleACallButton from './ScheduleACallButton.astro';
---

<section class="section primary structured-edges wrapper final-engagement">
  <header class="header">
    <h2 class="heading2">Ready to Take Your Project to the Next Level?</h2>
  </header>
  <p class="body1">Let's discuss your needs and explore how we can help you achieve your goals.</p>
  <div>
    <ScheduleACallButton />
  </div>
</section>
