---
import Button from './common/button.astro';
import Icon from './common/icon.astro';
import Section from './common/section.astro';
---

<section class="final-engagement wrapper">
  <Section
    tag="div"
    isPrimary
    withOrnaments
    isRounded
    tagline="Your Next Step Toward a Better App"
    title="Ready to Transform Your Web App?"
    description="We're here to help you unlock the full potential of your web app. Whether you're ready to schedule a consultation or want to learn more, we're just a click away."
  >
    <div class="buttons" slot="buttons">
      <Button isSecondary slot="buttons" scheduleAppointment> Schedule a Free Consultation </Button>
      <Button isSecondary isOutlined slot="buttons">
        <Icon name="download" />
        <span>Free Optimization Checklist</span>
      </Button>
    </div>
  </Section>
</section>
