---
import { Image } from 'astro:assets';
import Icon from './common/icon.astro';

const pathname = Astro.url.pathname;
---

<footer>
  <div class="wrapper main-content">
    <div class="even-columns three-columns">
      <div class="logo">
        <Image src="/images/logo-white.svg" width="144" height="24" alt="MUELLER Logo White" />
      </div>
      <nav aria-label="Footer navigation">
        <a href="/about-us" class:list={[pathname === '/about-us' && 'active']}>About Us</a>
        <a href="/services" class:list={[pathname === '/services' && 'active']}>Services</a>
        <a href="/blog" class:list={[pathname === '/blog' && 'active']}>Blog</a>
        <a href="/contact" class:list={[pathname === '/contact' && 'active']}>Contact</a>
      </nav>
      <div class="contact-info">
        <address>
          <p>
            <span class="icon">
              <Icon name="location" width="11" height="14" />
            </span>
            <span>5900 Balcones Drive STE 100, Austin, TX 78731</span>
          </p>
          <p>
            <span class="icon">
              <Icon name="email" width="14" height="10" />
            </span>
            <span>info@mueller-solutions.dev</span>
          </p>
          <p>
            <span class="icon">
              <Icon name="phone" width="10" height="10" />
            </span>
            <span>+1 512 203 5199</span>
          </p>
        </address>
        <div class="social-links">
          <div class="facebook"></div>
          <div class="linkedin"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper copyright">
    <span>&copy; 2024 DevBucket LLC. All rights reserved.</span>
    <a href="/privacy-policy" class:list={[pathname === '/privacy-policy' && 'active']}>Privacy Policy</a>
  </div>
</footer>

<style lang="scss">
  @use '../styles/abstracts' as *;

  footer {
    container-name: footer;
    background-color: $color-dark;
    color: $color-gray-light;
    padding-block: pxtorem(67) pxtorem(20);
  }

  .main-content {
    margin-block-end: pxtorem(50);
  }

  .logo {
    grid-column: 1 / -1;

    @include mq(small) {
      grid-column: 1;
    }
  }

  .contact-info {
    font-size: pxtorem(14);
    line-height: pxtorem(20);
  }

  nav a {
    display: block;
    color: $color-gray-light;
    text-decoration: none;

    &:not(:last-of-type) {
      margin-block-end: pxtorem(8);
    }
  }

  address {
    p {
      @include mq(small) {
        display: grid;
        grid-template-columns: pxtorem(14) 1fr;
        align-items: flex-start;
        gap: pxtorem(12);
      }

      &:not(:last-of-type) {
        margin-block-end: pxtorem(8);
      }

      > span:first-child {
        display: none;

        @include mq(small) {
          display: grid;
          place-items: center;
          margin-block-start: pxtorem(5);
        }
      }
    }
  }

  .copyright {
    padding-block-start: pxtorem(18);
    font-size: pxtorem(12);
    color: $color-gray-light;
    text-align: center;
    border-top: 1px solid #{rgba($color-gray-light, 0.15)};
  }

  a {
    &:not(.active) {
      color: $color-gray-light;

      @include transition-medium(color);

      &:hover,
      &:focus-visible {
        color: $color-secondary;
      }
    }

    &.active {
      color: $color-primary;
    }
  }
</style>
