---
import Icon from './common/Icon.astro';
const pathname = Astro.url.pathname;
---

<footer class="site-footer">
  <div class="wrapper main-content">
    <div class="even-columns three-columns">
      <div class="logo">
        <img src="/images/logo-white.svg" width="144" height="24" alt="MUELLER Logo White" loading="lazy" />
      </div>
      <nav aria-label="Footer navigation">
        <a href="/about-us" class:list={['nav-link', pathname === '/about-us' && 'active']}>About Us</a>
        <a href="/services" class:list={['nav-link', pathname === '/services' && 'active']}>Services</a>
        <a href="/blog" class:list={['nav-link', pathname === '/blog' && 'active']}>Blog</a>
        <a href="/contact" class:list={['nav-link', pathname === '/contact' && 'active']}>Contact</a>
      </nav>
      <div class="contact-info">
        <address>
          <p>
            <span class="icon">
              <Icon name="location" width="11" height="14" />
            </span>
            <span>5900 Balcones Drive STE 100, Austin, TX 78731</span>
          </p>
          <p>
            <span class="icon">
              <Icon name="email" width="14" height="10" />
            </span>
            <span>info@mueller-solutions.dev</span>
          </p>
          <p>
            <span class="icon">
              <Icon name="phone" width="10" height="10" />
            </span>
            <span>+1 (512) 203 5199</span>
          </p>
        </address>
        <div class="social-links">
          <div class="facebook"></div>
          <div class="linkedin"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper copyright">
    <span>&copy; 2024 DevBucket LLC. All rights reserved.</span>
    <span class="separator">|</span>
    <a href="/privacy-policy" class:list={['nav-link', pathname === '/privacy-policy' && 'active']}>Privacy Policy</a>
  </div>
</footer>
