---
import Icon from './common/icon.astro';
import NavigationItem from './navigation-item.astro';
---

<header class="site-header">
  <div class="content">
    <div class="wrapper">
      <a href="/">
        <img src="/images/logo-color.svg" width="144" height="24" alt="MUELLER Logo" />
      </a>
      <button aria-controls="main-navigation" aria-expanded="false">
        <span class="sr-only">Menu</span>
        <Icon name="menu" width="24" height="24" />
      </button>
      <nav id="main-navigation" aria-label="Main navigation">
        <ul>
          <NavigationItem href="/">Home</NavigationItem>
          <NavigationItem href="/services">
            Services
            <button aria-controls="services-navigation" aria-expanded="false" slot="submenu">
              <span class="sr-only">Sub Menu</span>
              <Icon name="dropdown" />
            </button>
            <ul id="services-navigation" slot="submenu">
              <NavigationItem href="/frontend-performance-optimization">
                Frontend Performance Optimization
              </NavigationItem>
              <NavigationItem href="/scalable-web-architecture"> Scalable Web Architecture </NavigationItem>
              <NavigationItem href="/cutting-edge-technology-integration">
                Cutting-Edge Technology Integration
              </NavigationItem>
              <NavigationItem href="/expert-consulting-and-strategy"> Expert Consulting & Strategy </NavigationItem>
            </ul>
          </NavigationItem>
          <NavigationItem href="/blog"> Blog </NavigationItem>
          <NavigationItem href="/about-us"> About </NavigationItem>
          <NavigationItem isButton href="/contact"> Contact </NavigationItem>
        </ul>
      </nav>
    </div>
  </div>
</header>
