---
import { Image } from 'astro:assets';
import Navigation from './Navigation.astro';
---

<header class="site-header">
  <div class="wrapper">
    <a href="/" class="logo-link">
      <Image src="/images/logo.svg" alt="MUELLER Solutions" width="216" height="36" class="main-logo" />
    </a>
    <Navigation />
  </div>
</header>
