---
type Props = {
  image: string;
  remoteImage?: boolean;
};

const { image, remoteImage } = Astro.props;
---

<section class="hero" style={`--image: ${remoteImage ? `url(${image})` : `url('/images/${image}.webp')`}`}>
  <div class="wrapper">
    <slot />
  </div>
</section>
