---
import { useUserAgent } from 'astro-useragent';

type Props = {
  image: string;
};

const uaString = Astro.request.headers.get('user-agent');
const { isMobile } = useUserAgent(uaString);

const { image } = Astro.props;
---

{!isMobile && <link rel="preload" href={`/images/${image}.webp`} as="image" type="image/webp" />}
<section class="hero">
  <div class="wrapper">
    <slot />
  </div>
</section>

<style
  define:vars={{
    'image-webp': `url('/images/${image}.webp')`,
    'image-jpg': `url('/images/${image}.jpg')`,
  }}
>
  @media (width > 480px) {
    .hero {
      background-image: image-set(var(--image-webp) type('image/webp'), var(--image-jpg) type('image/jpg'));
    }
  }
</style>
