---
type Props = {
  image: string;
  remoteImage?: boolean;
};

const { image, remoteImage } = Astro.props;
---

<section class="hero">
  <div class="wrapper">
    <slot />
  </div>
</section>

<style
  define:vars={{
    image: remoteImage ? `url(${image})` : `url('/images/${image}.webp')`,
  }}
>
  @media (width > 480px) {
    .hero {
      background-image: var(--image);
    }
  }
</style>
