---
type Props = {
  imageUrl?: string;
};

const { imageUrl } = Astro.props;
---

<section class="hero" style={imageUrl ? `--image-url: url(${imageUrl})` : ''}>
  <div class="wrapper">
    <slot />
    <div>
      <slot name="actions" />
    </div>
  </div>
</section>
