---
import { getImage } from 'astro:assets';

type Props = {
  image: ImageMetadata;
};

const { image } = Astro.props;

const imageAvif = await getImage({ src: image, format: 'avif' });
const imageWebp = await getImage({ src: image, format: 'webp' });
const imageJpg = await getImage({ src: image, format: 'jpg' });
---

<section class="hero">
  <div class="wrapper">
    <slot />
  </div>
</section>

<style
  define:vars={{
    'image-avif': `url(${imageAvif.src})`,
    'image-webp': `url(${imageWebp.src})`,
    'image-jpg': `url(${imageJpg.src})`,
  }}
>
  @media (width > 480px) {
    .hero {
      background-image: image-set(
        var(--image-avif) type('image/avif'),
        var(--image-webp) type('image/webp'),
        var(--image-jpg) type('image/jpg')
      );
    }
  }
</style>
