---
import ButtonCall from './button-call.astro';
import Icon from './icon.astro';
---

<div class="hero-actions">
  <ButtonCall />
  <button id="free-strategy-call-button" class="button inverted" data-free-consultation>
    <Icon name="calendar" width="24" height="24" />
    Schedule a Free Consultation
  </button>
</div>
