---
const { title, description } = Astro.props;

const websiteTitle =
  "MUELLER | Elevate Your Business with Cutting-Edge Web Solutions";
const htmlTitle = title ? `${title} | ${websiteTitle}` : websiteTitle;
const htmlDescription = description
  ? description
  : "We provide custom web apps, frontend advice, and performance boosts. Our team can bring your ideas to life.";
---

<meta charset="UTF-8" />
<meta
  name="viewport"
  content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
/>
<title>{htmlTitle}</title>
<meta name="description" content={htmlDescription} />
<meta
  name="keywords"
  content="music, management, app, bands, orchestras, choirs, musical groups, solo artists, manage, music, easily"
/>
<meta name="author" content="Mueller LLC" />
<link
  rel="apple-touch-icon"
  sizes="57x57"
  href="/assets/apple-icon-57x57.png"
/>
<link
  rel="apple-touch-icon"
  sizes="60x60"
  href="/assets/apple-icon-60x60.png"
/>
<link
  rel="apple-touch-icon"
  sizes="72x72"
  href="/assets/apple-icon-72x72.png"
/>
<link
  rel="apple-touch-icon"
  sizes="76x76"
  href="/assets/apple-icon-76x76.png"
/>
<link
  rel="apple-touch-icon"
  sizes="114x114"
  href="/assets/apple-icon-114x114.png"
/>
<link
  rel="apple-touch-icon"
  sizes="120x120"
  href="/assets/apple-icon-120x120.png"
/>
<link
  rel="apple-touch-icon"
  sizes="144x144"
  href="/assets/apple-icon-144x144.png"
/>
<link
  rel="apple-touch-icon"
  sizes="152x152"
  href="/assets/apple-icon-152x152.png"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/assets/apple-icon-180x180.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/assets/favicon-16x16.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/assets/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="96x96"
  href="/assets/favicon-96x96.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="/assets/android-icon-192x192.png"
/>
<link rel="shortcut icon" href="/assets/favicon.ico" />
<link rel="manifest" href="./site.webmanifest" />
<link
  rel="preload"
  fetchpriority="high"
  as="image"
  href="/images/hero-background.webp"
  type="image/webp"
/>
