---
type Props = {
  name: string;
  width?: string | number;
  height?: string | number;
  isCheckbox?: boolean;
  isRatingStars?: boolean;
};

const { name, width, height, isCheckbox, isRatingStars } = Astro.props;
const style = [
  `--icon: url('/images/icons/icon-${name}.svg')`,
  width && `--width: ${width}px`,
  height && `--height: ${height}px`,
].join('; ');
---

<span style={style} class:list={['icon', isCheckbox && 'icon-checkbox', isRatingStars && 'rating-stars']}></span>
