---
import NavLink from "./NavLink.astro";
---

<button
  class="site-nav-toggle"
  aria-controls="site-navigation"
  aria-expanded="false"
>
  <span class="sr-only">Menu</span>
</button>
<nav
  class="site-navigation"
  id="site-navigation"
  style="--_height: 0px;"
  data-visible="false"
>
  <ul>
    <li><NavLink href="/">Home</NavLink></li>
    <li>
      <NavLink href="/#/services">Services</NavLink>
      <button
        class="sub-nav-toggle"
        aria-controls="services-sub-nav"
        aria-expanded="false"
      >
        <span class="sr-only">Services Menu</span>
      </button>
      <ul
        class="site-sub-navigation"
        id="services-sub-nav"
        data-visible="false"
      >
        <li>
          <NavLink href="/progressive-web-app-pwa">
            Progressive Web Apps (PWAs)
          </NavLink>
        </li>
        <li>
          <NavLink href="/advanced-project-setup-guidance">
            Advanced Project Setup Guidance
          </NavLink>
        </li>
        <li>
          <NavLink href="/scalable-and-maintainable-codebases">
            Scalable and Maintainable Codebases
          </NavLink>
        </li>
        <li>
          <NavLink href="/micro-frontend-architecture">
            Mirco-Frontend Architecture
          </NavLink>
        </li>
        <li>
          <NavLink href="/performance-improvement-strategires">
            Frontend Performance Improvement Strategies
          </NavLink>
        </li>
        <li>
          <NavLink href="/modern-frontend-technologies">
            Modern Frontend Technologies
          </NavLink>
        </li>
      </ul>
    </li>
    <li><NavLink href="/#/about">About</NavLink></li>
    <li><NavLink href="/#/technologies">Technologies</NavLink></li>
  </ul>
</nav>
