---
type Props = astroHTML.JSX.AnchorHTMLAttributes & {
  href: string;
};

const { href, ...props } = Astro.props;
const pathname = Astro.url.pathname;

const isActive = pathname === href;
---

<a
  {...props}
  href={href}
  class:list={[!props.onclick && "nav-link", isActive && "active"]}
>
  <slot />
</a>
