---
import type { CollectionEntry } from "astro:content";
interface Props {
  service: CollectionEntry<"services">;
}
const { service } = Astro.props;
const { Content } = await service.render();
---

<article class="wrapper service">
  <h2>{service.data.title}</h2>
  <a id={service.slug} class="anchor"></a>
  <Content />
</article>
