---
import Icon from './icon.astro';
import NavLink from './nav-link.astro';
---

<footer class="site-footer">
  <div class="wrapper">
    <div class="even-columns three-columns">
      <div>
        <img
          src="/images/logo-white.svg"
          alt="MUELLER Logo White"
          width="144"
          height="24"
          loading="lazy"
          decoding="async"
          itemprop="logo"
        />
      </div>
      <nav class="footer-nav flex flex-sm-col gap-2" aria-label="Footer navigation">
        <div class="flex flex-col gap-1">
          <p class="nav-title">Company</p>
          <ul>
            <NavLink href="/">Home</NavLink>
            <NavLink href="/services">Services</NavLink>
            <NavLink href="/blog">Blog</NavLink>
            <NavLink href="/about-us">About Us</NavLink>
            <NavLink href="/contact">Contact</NavLink>
          </ul>
        </div>
        <div class="flex flex-col gap-1">
          <p class="nav-title">Services</p>
          <ul>
            <NavLink href="/services/web-development">Web Development</NavLink>
            <NavLink href="/services/performance-optimization">Performance Optimization</NavLink>
            <NavLink href="/services/legacy-system-modernization">Legacy System Modernization</NavLink>
            <NavLink href="/services/custom-web-applications">Custom Web Applications</NavLink>
          </ul>
        </div>
      </nav>
      <div class="flex flex-col gap-2">
        <address class="flex flex-col" itemscope itemtype="https://schema.org/PostalAddress">
          <p class="flex gap-1 items-center">
            <Icon name="location" width="11" height="14" />
            <span itemprop="streetAddress">5900 Balcones Drive STE 100</span>
            <span itemprop="addressLocality">Austin</span>
            <span itemprop="addressRegion">TX</span>
            <span itemprop="postalCode">78731</span>
          </p>
          <a href="mailto:info@mueller-solutions.dev" class="flex gap-1 items-center">
            <Icon name="email" width="14" height="10" />
            <span itemprop="email">info@mueller-solutions.dev</span>
          </a>
          <a href="tel:+15122003062" class="flex gap-1 items-center" aria-label="5 1 2. 2 0 0. 3 0 6 2">
            <Icon name="phone" width="10" height="10" />
            <span itemprop="telephone">+1 (512) 200-3062</span>
          </a>
        </address>
        <nav class="social-links" aria-label="Social links">
          <a
            href="https://www.facebook.com/profile.php?id=61564462280786"
            target="_blank"
            aria-label="MUELLER Solutions on Facebook"
          >
            <Icon name="facebook" width="24" height="24" />
          </a>
          <a
            href="https://www.linkedin.com/company/mueller-solutions-dev"
            target="_blank"
            aria-label="MUELLER Solutions on LinkedIn"
          >
            <Icon name="linkedin" width="24" height="24" />
          </a>
          <a href="https://x.com/muellerdevatx" target="_blank" aria-label="MUELLER Solutions on X">
            <Icon name="x" width="24" height="24" />
          </a>
          <a
            href="https://www.instagram.com/muellersolutionsatx/"
            target="_blank"
            aria-label="MUELLER Solutions on Instagram"
          >
            <Icon name="instagram" width="24" height="24" />
          </a>
          <a
            href="https://maps.app.goo.gl/eBMYp3y98prLAu6N7"
            target="_blank"
            aria-label="MUELLER Solutions on Google Maps"
          >
            <Icon name="googleplus" width="24" height="24" />
          </a>
          <a href="https://mueller-solutions.dev/rss.xml" target="_blank" aria-label="MUELLER Solutions RSS Feed">
            <Icon name="rss" width="24" height="24" />
          </a>
        </nav>
      </div>
    </div>
    <div class="copyright">
      <span>&copy; 2024 DevBucket LLC. All rights reserved.</span>
      <span class="separator">|</span>
      <a href="/privacy-policy">Privacy Policy</a>
    </div>
  </div>
</footer>
