---
import Icon from './icon.astro';
---

<a href="https://wa.me/15122035199" target="_blank" class="button inverted">
  <Icon name="whatsapp" width="24" height="24" />
  Chat with us on WhatsApp
</a>
