---
import HeroBase from '../common/hero-base.astro';
import Button from '../common/button.astro';
---

<HeroBase class="image-right gradient-down" imageUrl="/images/about-us/hero-people.webp">
  <h1 class="heading1">Florian Mueller: Crafting Digital Excellence</h1>
  <p class="body1">
    Leading the way in innovative web development solutions, with a focus on performance, scalability, and cutting-edge
    technology.
  </p>
  <Button slot="buttons" scheduleAppointment> Schedule a Free Consultation </Button>
</HeroBase>
