---
import OnePictureCard from '../common/one-picture-card.astro';
import Button from '../common/button.astro';
---

<OnePictureCard
  tagline="Your Success Is Our Mission"
  title="Why Choose Us?"
  description="At the core of our business is a commitment to delivering results that matter. Whether it’s improving your website’s performance, scaling your digital infrastructure, or integrating the latest technology, we are dedicated to helping your business thrive in the digital world."
  imageUrl="/images/about-us/team-success.webp"
  imageAlign="right"
>
  <Button scheduleAppointment>Get Started with a Free Strategy Session</Button>
</OnePictureCard>
