---
type Props = astroHTML.JSX.HTMLAttributes & {
  isSecondary?: boolean;
  isOutlined?: boolean;
  href?: string;
  scheduleAppointment?: boolean;
};

const { isSecondary, isOutlined, href, scheduleAppointment, ...rest } = Astro.props;

const restProps = { ...rest };
if (scheduleAppointment && !href) {
  restProps.onclick =
    "Calendly.initPopupWidget({url: 'https://calendly.com/mueller-solutions/first-consultation'});return false;";
}
---

{
  href ? (
    <a href={href} class:list={['button', isSecondary && 'secondary', isOutlined && 'outlined']} {...restProps}>
      <slot />
    </a>
  ) : (
    <button class:list={['button', isSecondary && 'secondary', isOutlined && 'outlined']} {...restProps}>
      <slot />
    </button>
  )
}
