---
type Props = {
  imageUrl: string;
  class: string;
};

const { imageUrl, class: className } = Astro.props;
---

<section class:list={['hero', className]}>
  <div class="wrapper">
    <div class="content">
      <slot />
      <div class="buttons">
        <slot name="buttons" />
      </div>
    </div>
  </div>
</section>

<style lang="scss" define:vars={{ imageUrl: `url(${imageUrl})` }}>
  @use '../../styles/abstracts' as *;

  section {
    position: relative;
    width: 100dvw;

    @include mq(small) {
      max-height: pxtorem(900);
    }

    @include mq(large) {
      max-height: pxtorem(1080);
    }

    &.blue-structured {
      background-color: $color-primary-dark;
      background-image: url('/images/boxy-structure.svg');
      background-position: bottom right;
    }

    &.gradient-down {
      background-image: linear-gradient(to bottom, $color-primary-light, $color-light);
    }

    &.blue {
      background-color: $color-primary-dark;
    }

    &.light-blue {
      background-color: $color-primary-light;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      background-image: var(--imageUrl);
      background-repeat: no-repeat;
      background-size: cover;

      @include mq(mobile) {
        height: 40%;
        width: 100dvw;
      }

      @include mq(small) {
        width: 50%;
        height: 100%;
      }
    }

    @include mq(small) {
      &.image-right {
        &::after {
          right: 0;
          background-position: left center;
        }

        .content {
          padding-inline-end: clamp(60%, 4vw, 70%);
        }
      }

      &.image-left {
        &::after {
          left: 0;
          background-position: right center;
        }

        .content {
          padding-inline-start: calc(50% + #{pxtorem(80)});
        }
      }
    }
  }

  .wrapper {
    padding-block-start: #{$site-header-height + $site-header-inset};
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(pxtorem(28), 4vw, pxtorem(40));
    padding-block-start: clamp(pxtorem(80), 4vw, pxtorem(150));
    padding-block-end: clamp(pxtorem(120), 4vw, pxtorem(180));
  }

  .buttons {
    display: inline-flex;
    flex-direction: column;
    gap: pxtorem(20);
  }
</style>
