---
type Props = {
  imageUrl: string;
  class: string;
};

const { imageUrl, class: className } = Astro.props;
---

<section class:list={['hero', className]} style={`--image-url: url(${imageUrl})`}>
  <div class="wrapper">
    <div class="content">
      <slot />
      <div class="buttons">
        <slot name="buttons" />
      </div>
    </div>
  </div>
</section>
