---
import HeroBase from '../common/hero-base.astro';
---

<HeroBase imageUrl="/images/expert-consulting/strategy.webp" class="fluid-height light-blue image-right">
  <p class="tagline">Strategize, Execute, Succeed</p>
  <h2 class="heading2">Let's Build a Strategy for Your Success</h2>
  <p class="description">
    Unlock your business's full potential with expert consulting and strategy services. Contact us to start planning
    your next successful project today.
  </p>
</HeroBase>
