---
import HeroBase from '../common/hero-base.astro';
import Button from '../common/button.astro';
---

<HeroBase imageUrl="/images/expert-consulting/consulting-group.webp" class="fluid-height gradient-down image-right">
  <h1 class="heading1">Transform Your Vision into Reality with Expert Consulting</h1>
  <p class="body1">
    Seamlessly incorporate cutting-edge technologies into your web infrastructure for superior performance, security,
    and user experience.
  </p>
  <Button scheduleAppointment> Get a Free Consultation </Button>
</HeroBase>
