---
import CardList from '../common/card-list.astro';
import CardWithIcon from '../common/card-with-icon.astro';
import Icon from '../common/icon.astro';
import Section from '../common/section.astro';
---

<Section tagline="Strategize for Success" title="Why Choose Our Consulting & Strategy Services?">
  <CardList columns="three">
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Tailored Strategies"
      description="Receive custom strategies designed specifically for your business goals and challenges."
    >
      <Icon name="strategies" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Informed Decision-Making"
      description="Benefit from expert insights that help you make data-driven decisions."
    >
      <Icon name="decission" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Optimized Resource Allocation"
      description="Maximize your resources by prioritizing efforts that yield the highest ROI."
    >
      <Icon name="resources" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Accelerated Growth"
      description="Implement strategies that drive growth, increase efficiency, and scale your business."
    >
      <Icon name="growth" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Risk Mitigation"
      description="Identify and address potential risks early to avoid costly setbacks."
    >
      <Icon name="alert" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Sustainable Development"
      description="Ensure long-term success with strategies focused on scalability and adaptability."
    >
      <Icon name="resize" width="68" height="68" />
    </CardWithIcon>
  </CardList>
</Section>
