---
import HeroBase from '../common/hero-base.astro';
---

<HeroBase imageUrl="/images/scalable-architecture/jenga-business.webp" class="fluid-height gradient-down image-right">
  <p class="tagline">Scale Without Limits</p>
  <h2 class="heading2">Let's Build a Scalable Foundation for Your Business</h2>
  <p class="description">
    Prepare your business for the future with a scalable web architecture. Contact us to start designing a system that
    grows with you.
  </p>
</HeroBase>
