---
import HeroBase from '../common/hero-base.astro';
import Button from '../common/button.astro';
---

<HeroBase class="image-left blue" imageUrl="/images/scalable-architecture/architecture-planning.webp">
  <h1 class="heading1 inverted">Build a Web Architecture That Grows with You</h1>
  <p class="body1 inverted">
    Design and implement scalable web solutions that support your business's long-term growth and adaptability.
  </p>
  <Button isSecondary scheduleAppointment> Get a Free Consultation </Button>
</HeroBase>
