---
import CardList from '../common/card-list.astro';
import CardWithIcon from '../common/card-with-icon.astro';
import Icon from '../common/icon.astro';
import Section from '../common/section.astro';
---

<Section tagline="Future-Proof Your Web Infrastructure" title="Why Choose Scalable Web Architecture?">
  <CardList columns="three">
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Seamless Growth"
      description="Easily scale your web platform as your business and traffic grow."
    >
      <Icon name="chart-up" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Cost Efficiency"
      description="Optimize resources to handle more traffic without overspending."
    >
      <Icon name="moneybag" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Enhanced Performance"
      description="Maintain speed and reliability, even during traffic spikes."
    >
      <Icon name="rocket" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Improved Reliability"
      description="Ensure your web application is robust and resilient under load."
    >
      <Icon name="slice" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Flexible Integration"
      description="Adapt to new technologies and integrate them without disrupting your existing system."
    >
      <Icon name="flexible" width="68" height="68" />
    </CardWithIcon>
    <CardWithIcon
      isWhite
      isShadow
      isFadeFromBottom
      align="left"
      title="Reduced Downtime"
      description="Minimize downtime with a scalable architecture that handles traffic surges effortlessly."
    >
      <Icon name="check" width="68" height="68" />
    </CardWithIcon>
  </CardList>
</Section>
