@use '../abstracts/' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
  object-fit: cover;
}

a,
a:hover {
  text-decoration: none;

  &.active {
    color: $color-brand-light;
    cursor: default;
    pointer-events: none;
  }
}

button,
input[type='submit'] {
  cursor: pointer;
  border: 0;

  &:focus {
    outline: none;
  }
}

html {
  color-scheme: dark light;
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-weight: $font-weight-regular;
  font-size: $font-size-base;
  background-color: $color-body;
  color: $color-dark;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b,
strong {
  font-weight: $font-weight-bold;
}
