---
import { ViewTransitions } from "astro:transitions";
import Navigation from "../components/navigation/navigation.astro";
import Meta from "./meta.astro";

interface Props {
  pathname: string;
}

const { pathname } = Astro.props;
---

<html lang="en" class="antialiased">
  <head>
    <Meta />
    <ViewTransitions />
  </head>
  <body class="text-gray-700">
    <Navigation pathname={pathname} />
    <slot />
  </body>
</html>
