---
import '../styles/main.scss';
import HtmlHead from '../components/HtmlHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

type Props = {
  title?: string;
  description?: string;
  keywords?: string;
};

const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <HtmlHead title={title} description={description} keywords={keywords}>
      <slot name="html-head" slot="html-head" />
    </HtmlHead>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-THLJKDVF"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Header />
    <main class="site-main" id="home">
      <slot />
    </main>
    <Footer />
  </body>
</html>
